{% extends "base.html" %}

{% load static %}

{# hide the search bar on the home page #}
{% block navbar %}
    {% with hide_search=True %}
        {% include "navbar.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    {% comment %} {% if request.user.welcome %}
        {% include "welcome.html" %}
    {% endif %} {% endcomment %}

    <!-- Research bar -->
    <div style="position:absolute; width: 50vw;margin-right: -50%;transform: translate(-50%, 0%);left: 50%;top: 33.33%">
        <div
            style="border: 2px solid black;border-radius: 0.5rem;with: 100%;max-width: 900px;margin-left: auto;margin-right: auto;">
            <i class="fas fa-search" style="margin: 0.5rem;"></i>
            {% include "autocomplete/search.html" %}
        </div>
        <div class="button-search">
            Chercher
        </div>
    </div>

    <!-- Cours -->
    <div class="finder">
        <turbo-frame id="facs" class="turbo-overflow" src="{% url "finder_turbo" "facs" "root" %}">
        </turbo-frame>
        <turbo-frame id="programs" class="turbo-overflow">
        </turbo-frame>
        <turbo-frame id="blocs" class="turbo-overflow">
        </turbo-frame>
        <turbo-frame id="courses" class="turbo-overflow">
        </turbo-frame>
    </div>
    <br>
    {% comment %} {% if request.user.following_courses|length > 0 %}
    <div class="row">
        <div class="large-6 columns">
            <h3>Mes cours</h3>
            <ul class="no-list">
                {% for course in request.user.following_courses %}
                <li class="nav-link">
                    <a href="{% url 'course_show' course.slug %}">
                        <span class="course-label success radius label fixed-label">
                            {{ course.slug }}
                        </span>
                        {{ course.name|truncatechars:40 }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %} {% endcomment %}

{% endblock %}

{% block script %}
    <script>
        function emptySubCat(){
            var args = arguments;
            for(var i=0; i<args.length; i++){
                $('#' + args[i]).attr('src', "/finder/" + args[i] + "/empty")
            }
            $("#courses").attr('src', "{% url "finder_turbo" "courses" "empty" %}")
        }

        function toggleModal(modal){
            if($("#" + modal).css("maxHeight") != "max-content"){
                // This is some kind of moldave trick to make a beautiful animation 👀
                $("#" + modal).css("display", "block");
                $("#" + modal).css("maxHeight", "max-content");
                var size = $("#" + modal).outerHeight();
                $("#" + modal).css("maxHeight", "0");
                console.log(size);
                $("#" + modal).css("maxHeight", size);

                // Switch category arrow
                $("#" + modal + "-arrow").addClass("fa-angle-down");
                $("#" + modal + "-arrow").removeClass("fa-angle-left");
            } else {
                $("#" + modal).css("maxHeight", "0");

                // Switch category arrow
                $("#" + modal + "-arrow").addClass("fa-angle-left");
                $("#" + modal + "-arrow").removeClass("fa-angle-down");
            }
        };
    </script>
{% endblock %}
