{% extends "base.html" %}

{% load static %}

{# hide the search bar on the home page #}
{% block navbar %}
    {% with hide_search=True %}
        {% include "navbar.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    {% comment %} {% if request.user.welcome %}
        {% include "welcome.html" %}
    {% endif %} {% endcomment %}

    <div class="home-grid">
        <div class="home-search-container">
            <div style="margin-bottom: 1em;text-align: center;">
                <span style="font-family: Roboto;font-style: normal;font-weight: bold;font-size: 6em;">Doc</span><span style="color:#007095;font-family: Roboto;font-style: normal;font-weight: bold;font-size: 6em;">Hub</span>
            </div>
            {% include "search/frames/search-box.html" with initial=True %}
        </div>
        <div style="grid-column-start: 2;grid-row-start: 2;text-align: center;height: 20vh">
            <h1>Mes Cours</h1>
            {% if following_course %}
                <div style="height: 100%;display: grid;grid-template-columns:1fr 1fr 1fr 1fr;grid-gap: 1px;text-align: center;font-family: Roboto;font-style: normal;font-weight: bold;font-size: 1.2em;margin-bottom: 1em;background-color: black;">
                    {% for course in following_course %}
                        <div style="padding-left: 0.5em;padding-right: 0.5em;background-color: white;display: flex;align-items: center;justify-content: center;">
                            <a href="{% url 'course_show' course.slug %}" target="_top" style="grid-column-start: 1;">{{ course.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <span style="font-family: Roboto;font-style: normal;font-weight: bold;"> Vous pouvez parcourir les differents cours <a href="{% url "show_courses" %}" style="color: -webkit-link;text-decoration: underline;">ici</a><span>
            {% endif %}
            {% comment %} <turbo-frame id="facs" class="turbo-overflow" src="{% url "finder_turbo" "facs" "root" "false" %}">
            </turbo-frame>
            <turbo-frame id="programs" class="turbo-overflow">
            </turbo-frame>
            <turbo-frame id="blocs" class="turbo-overflow">
            </turbo-frame>
            <turbo-frame id="courses" class="turbo-overflow">
            </turbo-frame> {% endcomment %}
        </div>
        <div class="finder visible-on-mobile">
            <turbo-frame id="mobile" class="turbo-overflow" src="{% url "finder_turbo" "facs" "root" "true" %}">
            </turbo-frame>
        </div>
    </div>

    <!-- Cours -->
    {% comment %} {% if request.user.following_courses|length > 0 %}
    <div class="row">
        <div class="large-6 columns">
            <h3>Mes cours</h3>
            <ul class="no-list">
                {% for course in request.user.following_courses %}
                <li class="nav-link">
                    <a href="{% url 'course_show' course.slug %}">
                        <span class="course-label success radius label fixed-label">
                            {{ course.slug }}
                        </span>
                        {{ course.name|truncatechars:40 }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %} {% endcomment %}

{% endblock %}

{% block script %}
    <script src="{% static "home.js" %}"></script>
{% endblock %}
