<nav class="container-xl navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container-fluid">
        <a class="hover-scale-sm navbar-brand d-flex align-items-center gap-2 position-relative pe-3" href="{% url 'index' %}">
            {% include "icons/bi-megaphone-fill.html" with class="hover-rotate" %}
            DocHub
            <span style="font-size: .5rem;"
                  class="position-absolute top-10 start-100 translate-middle badge rounded-pill bg-info">
                2.0
            </span>
        </a>
        <div class="flex-grow-1 spacer"></div>
        <div class="navbar-nav">
            <a class="nav-link px-2" href="{% url "catalog:finder_root" %}">Tous les cours</a>
        </div>

        <div class="dropdown">
            <a class="nav-link hover-scale-sm" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                <div class="bg-light text-primary rounded-circle p-2">{{ user.initials }}</div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                {% if request.user.is_staff or request.user.is_moderator %}
                    <li><a class="dropdown-item" href="{% url 'moderation_home' %}">Modération</a></li>
                {% endif %}
                {% if request.user.is_staff %}
                    <li><a class="dropdown-item" href="{% url 'admin:index' %}" data-turbo="false">Admin</a></li>
                {% endif %}

                <li>
                    <form method="post" action="{% url "logout" %}" class="dropdown-item d-inline">
                        {% csrf_token %}
                        <button type="submit" class=" border-0 bg-transparent p-0 w-100 text-start">Déconnexion</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
