{% extends "index.html" %}

{% block content %}
    <div class="alert alert-danger" role="alert">
        <strong>Attention</strong> : Cette page ne devrait être utilisée que par les administrateurs. <br>
        Ne rentre <strong>pas</strong> ton mot de passe ULB ici.<br><br>
        Si tu es un étudiant, connecte toi avec <a href="/">le gros bouton</a>
    </div>

    <form method="post" action="{% url 'syslogin' %}">

        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                Nom d'utilisateur et/ou mot de passe incorrect. Veuillez ré-essayer.
            </div>
        {% endif %}
        <div class="mb-3">
            <label for="username" class="form-label">Nom d'utilisateur</label>
            <input type="text" class="form-control" name="username" id="username" autocomplete="username"
                   autocapitalize="none" required>

        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" autocomplete="current-password"
                   required>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-primary">Connexion</button>
    </form>

{% endblock content %}
