{% extends "index.html" %}

{% block content %}


  <div class="small-12 columns small-centered">
    <div data-alert class="alert-box alert">
      <strong>Attention</strong> : Cette page ne devrait être utilisée que par les administrateurs. <br>
      Ne rentre <strong>pas</strong> ton mot de passe ULB ici.<br><br>
      Si tu es un étudiant, connecte toi avec <a href="/">le gros bouton</a>
    </div>
  </div>

  <div class="columns small-centered">
    <form method="post" action="{% url 'syslogin' %}">
      {% csrf_token %}
      <table>
        <tr>
          <td colspan="2">
            {% if form.errors %}
              <div data-alert class="alert-box alert">
                Nom d'utilisateur et/ou mot de passe incorrect. Veuillez ré-essayer.
              </div>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Nom d'utilisateur</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Connexion" class="button expand">
          </td>
        </tr>
      </table>

      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>
{% endblock %}
