{% load custommardown %}
{% load humanize %}
{% load cache %}


<div class="row">
  <div class="large-12 columns">
    <p>
      <strong>
        {% if action.verb == "upload success" %}
          <i class="fi-check large"></i>
        {% elif action.verb == "upload failed" %}
          <i class="fi-x large"></i>
        {% endif %}
      </strong>
      L'upload de 
        {% if action.action_object %}
            {% if action.action_object.get_absolute_url %}
              <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object.fullname }}</a>
            {% else %}
              {{ action.action_object.fullname }}
            {% endif %}
        {% endif %}

        {% if action.action_object and action.target %}dans{% endif %}

        {% if action.target %}
            {% if action.target.get_absolute_url %}
              <a href="{{ action.target.get_absolute_url }}">{{ action.target.fullname }}</a>
            {% else %}
              <a href="{{ action.target_url }}">{{ action.target.fullname }}</a>
            {% endif %}
        {% endif %}
        {% if action.verb == "upload success" %}
            a reussi.
        {% elif action.verb == "upload failed" %}
            a raté.
        {% endif %}
      <br>
      <span class="feed-timesince">
        Il y a {{ action.timestamp|timesince }}
      </span>
      {% comment %}
      {% if verbose %}
        {% if action.data.markdown%}
          <div>
            {{action.data.markdown|markdown}}
          </div>
        {% endif %}
      {% endif %}
      {% endcomment %}
    </p>
  </div>
</div>

