{% load custommardown %}
{% load humanize %}
{% load cache %}


<div class="row">
  <div class="large-12 columns">
    <p>
      <strong>
        {% if notification.action.verb == "a posté" %}
          <i class="fi-comment"></i>
        {% elif notification.action.verb == "a édité" %}
          <i class="fi-pencil"></i>
        {% elif notification.action.verb == "a répondu" %}
          <i class="fi-comments"></i>
        {% elif notification.action.verb == "a uploadé" %}
          <i class="fi-page-add"></i>
        {% elif notification.action.verb == "upload success" %}
          <i class="fi-check" style="color: #368a55"></i>
        {% elif notification.action.verb == "upload failed" %}
          <i class="fi-x" style="color: #cf2a0e"></i>
        {% elif notification.action.verb == "a uploadé un doublon de" %}
          <i class="fi-x" style="color: #cf2a0e"></i>
        {% endif %}
        <a href="{% url "read_and_redirect" notification.id %}">
          {% if not notification.action.public %}
            {% if notification.action.verb == "upload success" %}
              Votre upload a réussi :
            {% elif notification.action.verb == "a uploadé un doublon de" %}
              Vous avez uploadé un doublon de
            {% elif notification.action.verb == "upload failed" %}
              Il y a eu une erreur durant la conversion de
            {% endif %}
          {% else %}
            <img src="{{ notification.action.actor.get_photo }}" class="feed-photo">
            {{ notification.action.actor.fullname }}

            {{ notification.action.verb }}
          {% endif %}
        </strong>
          {% if notification.action.action_object %}
                {{ notification.action.action_object.fullname }}
          {% endif %}

          {% if notification.action.target %}
              dans {{ notification.action.target.fullname }}
          {% endif %}
          <a href="{% url "mark_as_read" notification.id %}" style="color: grey">
            <i class="fi-x"></i>
          </a>
        <br>
        {% if notification.action.verb == "a uploadé un doublon de" %}
            <span>
              Votre doublon a été supprimé.
            </span>
        {% endif %}
        <span class="feed-timesince">
          Il y a {{ notification.action.timestamp|timesince }}
        </span>
      </a>

    </p>
  </div>
</div>
