{% extends "skel.html" %}
{% load humanize %}

{% block title %}Notifications{% endblock %}

{% block content %}
{% if object_list %}
    <a href="{% url "markAllAsRead" %}" class="button radius">Tout marquer comme lu</a>
{% endif %}
{% for notification in object_list %}
  {% with action=notification.action %}
    {% include "feed_entry.html" %}
    <a href="{% url "markAsRead" notification.id %}" class="button small radius">Marquer comme lu</a>
  {% endwith %}
{% empty %}
<div class="row">
  <div class="large-12 columns">
    <br>
    <p>
        Vous n'avez pas encore de notifications...<br>
        Attendez que quelqu'un ajoute un document ou une question dans un cours de vous suivez et vous le verrez apparaitre ici.
    </p>
  </div>
</div>
{% endfor%}
{% endblock %}
