{% extends "skel.html" %}
{% block title %}Uploader{% endblock %}
{% block content %}
<div class="row">

  <div class="large-7 columns">
    {% if READ_ONLY %}
    <br>
      <div data-alert class="alert-box warning radius">
        DocHub est en maintenance, vous ne pouvez pas uploader de documents pour l'instant.
        Cela devrait être résolu dans quelques heures, renvenez bientôt ! :)
        <a href="#" class="close">&times;</a>
      </div>
    {% endif %}
    <ul class="tabs" data-tab>
      <li class="tab-title active">
        <a href="#upload-tab-1" >
          <i class="fi-page-filled"></i>
          Un seul fichier
        </a>
      </li>
      <li class="tab-title">
        <a href="#upload-tab-n">
          <i class="fi-page-multiple"></i>
          Plusieurs fichiers
        </a>
      </li>
    </ul>

    <div class="tabs-content">
      <div class="content active" id="upload-tab-1">
        <h1>Uploader un document</h1>
        <h3>Dans "{{course.name}}"</h3>
        <form action="{% url 'document_put' course.slug %}" method="post"
                enctype="multipart/form-data" class="dropzone">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="alert-box info radius row">
              <div class="small-2 columns">
                <i class="fi-info round-icon big"></i>
              </div>
              <div class="small-10 columns">
                <p>Vous pouvez uploader à peu près n'importe quel type de document. DocHub accepte les pdf, jpg, png, doc(x), ppt(x), odt, et bien plus encore.</p>
                <p>Complétez une brève description du document afin d'aider tout le monde à trouver les informations plus efficacement. Vous pourrez encore les éditer plus tard s'il le faut.</p>
              </div>
            </div>

            {% with form.file as field %}
                {% if field.errors %}
                  <small class="error">
                    {% for error in field.errors %}
                      {{error}}</br>
                    {% endfor %}
                  </small>
                {% endif %}
                <div class="panel callout drop-panel">
                    <br>
                    <div class="row">
                        <div class="small-6 columns">
                            {{field}}
                        </div>
                        <div  class="small-6 columns">
                        </div>
                    </div>
                </div>
            {% endwith %}

            {% with form.name as field %}
                {% include "simple_input.html" %}
            {% endwith %}
            {% with form.tags as field %}
                {% include "simple_input.html" %}
            {% endwith %}
            {% with form.description as field %}
                {% include "simple_input.html" %}
            {% endwith %}

            <p class="text-right">
              <input type="submit" class="button success radius {% if READ_ONLY %}disabled{% endif %}" value="Upload" />
            </p>
        </form>
      </div>

      <div class="content" id="upload-tab-n">
        <h1>Uploader plusieurs documents</h1>
        <h3>Dans "{{course.name}}"</h3>
        <form action="{% url 'document_put_multiple' course.slug %}" method="post"
                enctype="multipart/form-data" class="dropzone">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="alert-box info radius row">
            <div class="small-2 columns">
              <i class="fi-info round-icon big"></i>
            </div>
            <div class="small-10 columns">
              <p>Vous pouvez uploader à peu près n'importe quel type de document. DocHub accepte les pdf, jpg, png, doc(x), ppt(x), odt, et bien plus encore.</p>
              <p>Vous pourrez éditer la description et les tags de chaque document individuellement par après</p>
            </div>
          </div>

          {% with multiform.files as field %}
            {% if field.errors %}
              <small class="error">
                {% for error in field.errors %}
                  {{error}}</br>
                {% endfor %}
              </small>
            {% endif %}
            <div class="panel callout drop-panel">
                <br>
                <div class="row">
                    <div class="small-6 columns">
                        {{field}}
                    </div>
                    <div  class="small-6 columns">
                    </div>
                </div>
            </div>
          {% endwith %}
          <p class="text-right">
            <input type="submit" class="button success radius {% if READ_ONLY %}disabled{% endif %}" value="Upload" />
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function() { $(".chosen-select").select2(); });
</script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% endblock %}
