{% extends "skel.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}Uploader{% endblock %}

{% block script %}
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="{{DROPBOX_CHOOSER_KEY}}"></script>
<script type="text/javascript" src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>
{% render_bundle 'uploader' %}
{% endblock %}

{% block content %}
<div id="react-data" data-slug="{{course.slug}}" data-name="{{course.name}}"></div>
<!-- <button onclick="onApiLoad()">Pick From Google Drive</button> -->
<div id="result"></div>
<div id="root"></div>
{% endblock %}
