{% extends "skel.html" %}
{% block title %}Ré-uploader {{document.name}}{% endblock %}
{% block content %}
<div class="row">
  <div class="large-7 columns">
    {% if READ_ONLY %}
        <br>
        <div data-alert class="alert-box warning radius">
          DocHub est en maintenance, vous ne pouvez pas uploader de documents pour l'instant.
          Cela devrait être résolu dans quelques heures, renvenez bientôt ! :)
          <a href="#" class="close">&times;</a>
        </div>
    {% endif %}
    <h1>Ré-uploader</h1>
    <h3>{{document.name}}</h3>
    <form action="" method="post" enctype="multipart/form-data" class="dropzone">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% with form.file as field %}
            {% if field.errors %}
              <small class="error">
                {% for error in field.errors %}
                  {{error}}<br />
                {% endfor %}
              </small>
            {% endif %}
            <div class="panel callout drop-panel">
                <br>
                <div class="row">
                    <div class="small-6 columns">
                        {{field}}
                    </div>
                    <div  class="small-6 columns">
                    </div>
                </div>
            </div>
        {% endwith %}

        <p class="text-right"><input type="submit" class="button success radius {% if READ_ONLY %}disabled{% endif %}" value="Ré-uploader" /></p>
    </form>
  </div>
</div>
{% endblock %}


{% block script %}
  <script>
    $(document).ready(function() { $(".chosen-select").select2(); });
  </script>
{% endblock %}
