{% extends "skel.html" %}
{% load cache %}

{% block title %}{{ document.name }}{% endblock %}
{% block full-page %}

{% include "documents/viewer_bar.html" %}
<div class="row">
  <div id="thumbs-misere"></div>
  <div id="thumbs" class="medium-2 columns show-for-medium-up">
    {% for page in document.page_set.all %}
      <div class="row">
        <div class="large-12 columns">
          <img id="thumb-{{ page.numero }}" class="thumb" data-num="{{ page.numero }}"
            src="/static/images/white.png" width="120" height="{{ page.bitmap_120.height }}"/>
          <p>{{ page.numero|add:1 }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="medium-10 small-12 columns">
    <div id="pages" data-id="{{ document.id }}">
      <h3>Loading ...</h3>
    </div>
  </div>
</div>


<div id="page-comment-view" class="reveal-modal" data-reveal>

</div>


<div id="page-comment-form" class="reveal-modal" data-reveal>
  <div class="row">
    <div class="columns small-1">
      <i class="fi-comment round-icon big"></i>
    </div>
    <div class="columns small-11">
      <h3>
        Nouvelle discussion sur la page
        <span class="page-no"></span>
      </h3>
      <p>
        {{ document.name }}
      </p>
    </div>
  </div>
  <div class="row">
    <form method="POST" action="{% url "document_thread_put" document.id %}">
      {% csrf_token %}
      {% for field in form %}
        {% include "simple_input.html" %}
      {% endfor %}
      <input type="hidden" name="page-no" value=""/>
      <p class="text-right">
        <input type="submit" class="button success radius" value="Créer" />
      </p>
    </form>
    <p>
      Cliquez n'importe où aileurs ou tapez sur la touche <code>ESC</code>
      pour fermer cette fenêtre
    </p>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">loadDocumentViewer('pages');</script>
{% endblock %}
