{% extends "skel.html" %}
{% load cache %}
{% load render_bundle from webpack_loader %}
{% load has_perm_on %}

{% block script %}
{% render_bundle 'viewer' %}
{% endblock %}

{% block title %}{{ document.name }}{% endblock %}
{% block full-page %}

<div class="row">
<span id="document_data"
        data-url="{{document.pdf.url}}"
        data-name="{{document.name}}"
        data-id="{{document.id}}"
        data-coursename="{{document.course.slug}}"
        data-original="{{document.original}}"
        data-pdf="{{document.pdf}}"
        data-hasperm="{{request.user|has_perm_on:document}}"
></span>
<div id="root"></div>
</div>

{% endblock %}
