{% comment %}
# Copyright 2012, hast. All rights reserved.

# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
{% endcomment %}

{% load fragments %}
{% verbatim %}
<ul class="navbar-list" data-id="{{ id }}"><li>{{ name }}</li>
{{#each sub_categories }}
  <li class="navbar-category" data-id="{{ id }}">{{ name }}</li>
{{/each}}
{{#each contains }}
  <li><a href="/zoidberg/course/v/{{ slug }}">{{ name }}</a></li>
{{/each}}
</ul>
{% endverbatim %}
