{% load has_perm_on %}

<div class="row">
  <div class="large-12 columns">
    <h1>
      <a href="{% url 'thread_show' thread.id %}">
        <i class="fi-link"></i>
      </a>
      {{ thread.name }}
    </h1>
    <h3>
    {% if thread.document == None %}
      <a href="{% url 'course_show' thread.course.slug %}" class="light">
        <i class="fi-arrow-left back-icon"></i>  {{thread.course.name}}
      </a>
    {% else %}
      <a
        href="{% url 'document_show' thread.document.id %}{% if thread.page_no %}#page-{{thread.page_no}}{% endif %}"
        class="light"
      >
        <i class="fi-arrow-left back-icon"></i>  {{thread.document.name}}
      </a>
    {% endif %}
    </h3>
  </div>
</div>
<div class="row">
  <div class="large-10 medium-10 columns">
    {% for message in messages %}
      {% include "telepathy/message.html" %}
    {% endfor %}
    <div class="row"><div class="medium-11 columns thread-separator"></div></div>
    {% include "telepathy/message_form.html" %}
  </div>

  <div class="large-2 medium-12 columns">
    {% if thumbnail %}
      <h3>Sur la page</h3>
      <a href="{% url "document_show" thread.document.id %}{% if thread.page_no %}#page-{{thread.page_no}}{% endif %}"
         class="light"
         data-dropdown="page_preview"
         data-options="is_hover:true; hover_timeout:20; align:left">
        <img src="{{thumbnail.url}}" alt="Aperçu"/>
      </a>

      <div id="page_preview" class="large f-dropdown" data-dropdown-content>
        <img src="{{preview.url}}" alt="Grand aperçu"/>
      </div>
    {% endif %}

  </div>
</div>
