<div data-controller="search">
    <div class="search-box">
        <i class="fas fa-search" style="margin: 0.5rem;"></i>
        <input
            id="search-zone"
            type="text"
            value="{{query}}"
            data-search-target="input"
            data-action="input->search#search"
            placeholder="Chercher un cours (exemple: info-f-101 ou Microeconomie)"
            />
        </div>
        <turbo-frame id="search-box">
            <form action="/search/courses/" method="get" style="display: none" id="search-courses">
                <input type="hidden" name="query" data-search-target="output" />
                <input type="submit" data-search-target="submit">
            </form>
            {% if not initial %}
                <div id="search-results" class="results">
                    {% if simplified %}
                        <span style="padding-left: 20px; color: darkred">Ce résultat de recherche est simplifié parce que PostgreSQL n'est pas disponible</span>
                    {% endif %}
                    {% for course in course_list %}
                        <a title="{{course.name}}" href="{% url 'catalog:course_show' course.slug %}" style="display: block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" target="_top">
                            <span>{{course.slug}}</span>
                            {{course.name}}
                        </a>
                    {% empty %}
                        Aucun résultat
                    {% endfor %}
                </div>
            {% endif %}
        </turbo-frame>
    </div>

    <script>

        $('#search-zone').blur(function() {
            // Moldav shenanigance because javascript hides the links before DOM Event
            setTimeout(function () {
                $('#search-box').hide();
            }, 250);
        });

        $('#search-zone').focus(function() {
            $('#search-box').show();
        });
    </script>
