users/tests/xml-private-data/*.xml
dumper/*.json
*pyc
.coverage
htmlcov/
db.sql
db.sqlite
initial_data.json
ve
graph.*
*.pid
*.log
www/secret_key.txt
www/config/local.py
media/
.cache
node_modules/
collected_static/
.vagrant/
