*pyc
db.sql
initial_data.json
ve
graph.*
*.pid
*.log
www/secret_key.txt
www/config/local.py
media/documents/*/
media/profile/*.png
media/profile/*.jpg
media/profile/*.gif

static/3party/foundation-icons/
static/3party/foundation/
static/3party/select/
