sudo: false

language: python
python:
  - "2.7"

cache: pip

before_script:
  - npm install yuglify
  - gem install sass

script:
  - ./manage.py check
  - ./manage.py collectstatic --noinput -v 0
  - py.test -k "not unoconv" --cov=catalog --cov=documents --cov=notifications --cov=tags --cov=telepathy --cov=users --cov=www --cov-report=
  - make database

addons:
  apt:
    packages:
    - graphicsmagick
    # Unoconv is not supported on travis right now
    # but we do not run unoconv tests on travis so it's not a problem
    # - unoconv
    - python-dev
    - nodejs

notifications:
  email:
    on_success: change
    on_failure: change

after_success: coveralls
