Django>=2.0,<2.1
django-multiupload
markdown
celery>=4.0, <5.0
Pillow
pygments
pyPdf2
requests
xmltodict
djangorestframework>=3.11,<3.12 # 3.12 needs a more recent Django
drf-extensions
furl
django-mptt
django-activity-stream<0.8,>=0.7 # Need at least 0.7 but 0.8 is not compatible with our current django version
PyYaml
jsonfield
django-pipeline
PyReact
django-js-reverse
django-webpack-loader
beautifulsoup4
html5lib

# Dev
django-extensions
ipython
honcho

# Test
mock
pytest-django
responses
django-webtest


# prod
redis
psycopg2-binary
python-memcached
django-debug-toolbar==2.2 # blocked by django
django-jsonfield
django-jsonfield-compat
gunicorn
raven
django-minio-storage
