Django>=2.0,<2.1
django-multiupload
markdown
celery>=4.0, <5.0
Pillow
pygments
pyPdf2
requests
xmltodict
djangorestframework==3.8.2
drf-extensions
furl
django-mptt
# django-activity-stream>=0.6.6
git+https://github.com/justquick/django-activity-stream.git
git+https://github.com/C4ptainCrunch/libulb.git
PyYaml
jsonfield
django-pipeline
PyReact
django-js-reverse
django-webpack-loader

# Dev
django-extensions
ipython<7.16 # https://ipython.readthedocs.io/en/stable/whatsnew/version7.html#nep29-last-version-to-support-python-3-6
honcho

# Test
mock
pytest-django
responses
django-webtest
pytest-cov


# prod
redis
psycopg2-binary
python-memcached
django-debug-toolbar
django-jsonfield
django-jsonfield-compat
gunicorn
raven
django-minio-storage


# transitive deps
traitlets<5 # py 3.6 compat
