Django>=3
celery
Pillow
pygments
pypdf
requests
furl
django-mptt
PyYaml
jsonfield
django-pipeline
filemagic
beautifulsoup4
html5lib
django-compressor
whitenoise[brotli]
types-requests
types-PyYAML
django-environ
rich
python-slugify
types-python-slugify
django-crispy-forms
crispy-bootstrap5
pymupdf

# Dev
django-extensions
ipython
honcho
isort
pre-commit
pip-tools
coolname
black
django-debug-toolbar

# Test
mock
pytest-django
responses
django-webtest
mypy
django-stubs
time-machine


# prod
redis
psycopg[binary,pool]
python-memcached
django-jsonfield
django-jsonfield-compat
gunicorn
sentry-sdk
django-storages
boto3
