{% extends "3col.html" %}
{% load humanize %}
{% load custommardown %}
{% load compress %}

{% block title %}{{ object.slug|upper }}{% endblock %}

{% block center-col %}
<div class="row">
  <div class="large-10 columns">
    <h1 >{{ object.slug|upper }}{% if followed %} <i class="fi-check green"></i>{% endif %}</h1>
    <h2>{{ object.name }}</h2>
  </div>
  <div class="large-2 columns">
    <br/>
    <a href="{{ gehol }}" class="button expand radius" target="_blank">Horaire sur GeHol</a>
  </div>
</div>

<div class="row">
  <div class="row">
    <div class="large-3 medium-6 columns">
      <input type="text" placeholder="Recherche" name="document-search">
    </div>
    <div class="large-3 medium-6 columns">
      <select multiple
      class="chosen-select"
      data-placeholder="Tags"
      style="width: 100%; margin-bottom: 15px; height: 100%"
      name="document-tags">
        {% for tag in tags %}
        <option value="{{tag}}">{{tag}}</option>
        {% endfor%}
      </select>
    </div>
    <div class="large-3 medium-6 columns">
      <select type="text" name="node-year">
        <option value="tout" selected>Toutes les années</option>
        {% for node in children_nodes %}
          {% ifchanged node.year %}
            <option value="{{node.year}}">{{node.year}}</option>
          {% endifchanged %}
        {% endfor %}
      </select>
    </div>
    <div class="large-3 medium-6 columns">
      <select type="text" name="node-type">
        <option value="tout" selected>Tout</option>
        <option value="Document">Documents</option>
        <option value="Thread">Discussions</option>
      </select>
    </div>
  </div>
  <div class="large-12 medium-12 columns">
    {% for node in children_nodes %}{% with node.keywords.all as tags %}
      {% ifchanged node.year %}
        <h3>{% if node.year != "Archives" %}Année académique {% endif %}{{ node.year }}</h3>
      {% endifchanged %}
      <div class="row course-row"
        node-type="{{node.classBasename}}"
        node-keywords="{% for kw in tags%}{{kw}} {% endfor %}"
        node-year="{{ node.year }}"
      >
        {% if node.classBasename == 'Thread' %}
          <a href="{% url 'thread_show' node.id %}">
            <i class="fi-comment round-icon big"></i>
          </a>
        {% elif node.classBasename == 'Document' %}
          {% if node.state == 'DONE' %}
            <a href="{% url 'document_show' node.id %}">
              <i class="fi-page-copy round-icon big"></i>
            </a>
          {% else %}
              {% if node.state == "ERROR" %}
                <i class="fi-x round-icon big"></i>
              {% else %}
                <i class="fi-loop round-icon big"></i>
              {% endif %}
          {% endif %}
        {% endif %}
        <div class="course-row-content">
          <h5>
            {% if node.classBasename == 'Thread' %}
              <a href="{% url 'thread_show' node.id %}">
            {% elif node.classBasename == 'Document' and node.state == "DONE" %}
              <a href="{% url 'document_show' node.id %}">
            {% endif %}
            {{ node.name }}
            {% if node.classBasename == 'Document' and node.state == "DONE" or node.classBasename == 'Thread' %}</a>{% endif %}
            <small>par {{ node.user.name }}</small>
          </h5>
          {% if node.classBasename == 'Thread' %}
            <p>{{ node.message_set.first.text|markdown|striptags|truncatechars:200 }}</p>
            <div class="course-content-last-line">
            <i class="fi-align-justify"></i>
            {{ node.message__count }} message{{ node.message__count|pluralize }}
            <i class="fi-clock"></i> Posté le {{ node.created|date:"d F Y" }}
          {% elif node.classBasename == 'Document' %}
            <p>{% if node.description %}{{ node.description|truncatechars:200 }}</p>{% endif %}
            {% if is_moderator or user.netid == node.user.netid %}
              <a href="{% url 'document_edit' node.id %}"><i class="fi-widget"></i> Editer</a>
            {% endif %}
            <div class="course-content-last-line">
            <i class="fi-page-filled"></i>  {{ node.pages }} page{{ node.pages|pluralize }}
            <i class="fi-clock"></i> Uploadé le {{ node.date|date:"d F Y" }}
          {% endif %}
          {% if tags %}<i class="fi-pricetag-multiple"></i> {% endif %}
          {% for kw in tags%}
            <a data-id="{{kw.id}}" href="#"
               style="background-color: {{kw.color}}; border: solid 2px {{kw.color}};"
               class="radius label tag-item {% if node.classBasename == 'Thread' %}secondary{% endif %}">
              {{kw}}
            </a>
          {% endfor %}
        </div>
        </div>
        </div>
      {% endwith %}
    {% empty %}
      <h3>Il n’y a encore rien dans ce cours…</h3>
      <p>Personne n’est encore passé ici on dirait.<br>
        Vous pourriez poser une question ou encore uploader un document en cliquant sur les boutons ci-dessus. </p>
    {% endfor %}

  </div>
</div>
{% endblock %}

{% block right-col %}
<div class="row">
  <div class="large-12 columns">
    <br>
    <a class="button expand radius" href="{% url 'document_put' object.id %}">Uploader un fichier</a>
    <a class="button expand radius" href="{% url 'thread_put' object.id %}">Poser une question</a>
    {% if followed %}
      <a class="button expand alert radius" href="{% url 'unfollow_node' object.id %}">
        <i class="fi-x"></i> Se désabonner
      </a>
    {% else %}
      <a class="button expand success radius" href="{% url 'follow_node' object.id %}">
        <i class="fi-check"></i> S’abonner
      </a>
    {% endif %}
    {% if followers > 1 %}
      <small>{{followers}} personnes sont abonnées à ce cours.</small>
    {% endif %}
  </div>
</div>

{% endblock %}

{% comment %}
  TODO : re-add course wiki
{% endcomment %}

{% block script %}
  {% compress css %}
    <link href="/static/3party/select/select2.css" rel="stylesheet"/>
  {% endcompress %}
  {% compress js %}
    <script src="/static/3party/select/select2.js"></script>
    <script src="/static/3party/select/select2_locale_fr.js"></script>
    <script type="">
      var toggleTag = function(){
        var bkg = $(this).css('background-color');
        $(this).css("background-color", $(this).css("color"));
        $(this).css("color", bkg);
        $(this).toggleClass("active");
      }

      var toggleSameTags = function(ev){
        var clicked = $(ev.delegateTarget);
        var tag_id = clicked.attr("data-id");
        console.log("Toggle " + tag_id);
        $(".tag-item[data-id=" + tag_id + "]").each(toggleTag);
        return false;
      }

      $(document).ready(function(){$('.tag-item').click(toggleSameTags);});
    </script>
  {% endcompress %}
  {% compress js %}
  <script>
    {% include "graph/course-search.js" %}
  </script>
  {% endcompress %}
{% endblock %}
