{% extends "skel.html" %}

{% block title %}Liste des cours{% endblock %}

{% block content %}
<div class="row">
  <div class="medium-12 columns">
    <h1>Vos cours</h1>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      {% for course in followed_courses %}
        <li>
          <h4>
            <a href="{% url 'course_show' course.slug %}">
              <i class="fi-folder round-icon small"></i>
              {{ course.slug }}
            </a>
        </h4>
          {{ course.name }}
          {% with course.children as children %}
            {% if children|length > 0 %}
              ({{ children|length }} élément{{ children|pluralize }})
            {% endif%}
          {% endwith %}
        </li>
      {% empty %}
        <p>On dirait que vous n'êtes abonné à aucun cours pour le moment.<br>
        Vous pourriez parcourir ci-dessous le catalogue de DocHub et
        <span data-tooltip aria-haspopup="true" class="has-tip" title="En vous abonnant à un cours, vous recevrez une notification quand quelqu'un ajoute un document ou pose une question">vous abonner</span>
        les cours qui vous intéressent.</p>
        <div class="alert-box radius secondary medium-8">
          <i class="fi-info"></i> En vous abonnant un cours, vous recevrez une notification quand quelqu'un ajoute un document ou pose une question
        </div>
      {% endfor %}
    </ul>

    <h1>Catalogue</h1>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    {% for fac in faculties %}
        <li>
          <h4>
            <a href="{% url 'category_show' fac.id %}">
              <i class="fi-annotate round-icon small"></i>
              {{ fac.name }}
            </a>
          </h4>
        </li>
      {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
