<div class="row">
  <div class="small-12 columns">
    <div class="alert-box tooltip-box secondary radius">
        Les messages sur DocHub supportent le <a href="{% url 'markdown_help' %}" target="blank_">Markdown</a>, n'hésitez pas à vous en servir pour mettre en forme vos messages. Jetez un oeil au <a href="{% url 'markdown_help' %}" target="blank_">guide</a> Markdown ou à l'<a href="{% url 'markdown_help' %}#" data-reveal-id="makrdown-cheat"><strong>aide-mémoire</strong> <i class="fi-page"></i></a>.<br>
        <small>Grâce au Markdown vous pouvez insérer des formules mathématiques, du code, des titres, du gras, ...</small>
    </div>
  </div>
</div>
