{% extends "skel.html" %}
{% load custommardown %}

{% block title %}Markdown{% endblock %}

{% block content %}

<div class="row">
  <div class="large-12 medium-12 columns">
    <h1>Markdown</h1>
    <p>DocHub utilise Markdown pour mettre en forme les discussions et les descriptions des documents.</p>
    <h2>Le Markdown c'est quoi ?</h2>
    <p>
      Markdown est une convention permettant une mise en page structurée grâce à des annotations simples dans le texte. Vous pouvez par exemple ajouter des titres, des images, des listes et encore d'autres choses dans vos textes.<br>
      Markdown a l'avantage d'être facile à lire aussi bien en texte que lorsqu'il est mis en page, et apprendre ses conventions ne devrait vous prendre plus que quelques minutes. <br>
      <small>Vous ne voulez pas l'utiliser ? Pas de problème, faites comme si il n'existait pas, vous pouvez taper du texte normalement comme vous l'avez toujours fait.</small>
    </p>
    <h2>Titres</h2>
    <p>Vous pouvez écrire un titre en ajoutant le symbole <code>#</code> au début de la ligne. Au plus vous ajoutez de <code>#</code> consécutifs, au plus le titre sera petit. (Vous pouvez en ajouter 5 au maximum)</p>
    {% markdown_demo %}
    # Titre principal
    ## Sous titre
    ##### Titre insignifiant
    {% end_markdown_demo %}

    <h2>Citations</h2>
    <p>Pour citer un texte, il suffit de rajouter un <code>></code> devant chaque ligne.</p>
    {% markdown_demo %}
    Comme disait Mao :
    > Manger c'est tricher, mais tricher, c'est gagner.
    {% end_markdown_demo %}

    <h2>Gras et italique</h2>
    <p>Tu peux rendre ton texte en gras ou en italique en entourant la partie concernée par des <code>*</code> (simples pour l'italique, double pour le gras).</p>
    {% markdown_demo %}
    Avec *une étoile, c'est du texte en italique*,
    mais avec **deux étoiles, c'est du texte en gras**
    {% end_markdown_demo %}

    <h2>Liens et images</h2>
    <p>Markdown supporte aussi les liens et images.<br>
    Un lien s'écrit de la manière suivante <code>[Texte du lien](http://site-web.com)</code>.</p>
    {% markdown_demo %}
    Les points sont disponibles sur [l'université virtuelle](https://uv.ulb.ac.be)
    {% end_markdown_demo %}

    <p>L'ajout d'images se fait de manière assez semblable : <code>![titre](http://example.com/image-a-afficher.jpg)</code> (notez le point d'exclamation au début)</p>
    {% markdown_demo %}
    ![logo ULB](https://www.ulb.ac.be/dre/com/docs/logo3lpbp.jpg) notre alma mater
    {% end_markdown_demo %}

    <h2>Listes</h2>
    <p>Vous pouvez aussi ajouter des listes (à puce ou numérotées)</p>
    {% markdown_demo %}
    * Une puce
    * Une autre puce
    * Encore une autre puce

    Liste numérotée :

    1. Premier élément
    2. Second élément
    3. Troisième élément
    {% end_markdown_demo %}

    <h2>Formules mathématiques</h2>
    <p>Vous pouvez même insérer des formules mathématiques en utilisant la notation $\LaTeX$, encadrée par des <code>$</code>. La notation mathématique $\LaTeX$ est bien trop complète pour être décrite ici, mais il existe un <a target="_blank" href="https://fr.wikibooks.org/wiki/LaTeX/Math%C3%A9matiques">excellent Wikilivre</a> à ce sujet.</p>
    {% markdown_demo %}
    La tranformée de Fourier de $f(x)$ est $F(\theta) = \int_{-\infty}^{+\infty} f(x)e^{i\theta x} \mathrm dx$

    La factorielle est définie comme
    $n! = \begin{cases}
      1 & n \leq 1 \\
      n\times(n-1)! & n \gt 1
    \end{cases}$
    {% end_markdown_demo %}

    <h2>Code</h2>
    <p>Pour nos amis informaticiens qui voudraient discuter sur du code, il est aussi possible d'insérer des bouts de codes qui seront mis en forme. Il suffit de le mettre en forme avec l'annotation <code>```LANGAGE ```</code>, où <code>LANGAGE</code> est le nom du langage dans lequel le code est écrit.</p>
    {% markdown_demo %}
      {% include "telepathy/markdown_demo.md" %}
    {% end_markdown_demo %}

    <h1 id="memory">Aide-mémoire</h1>
    {% include "telepathy/markdown_cheatsheet.html" %}
  </div>
</div>
{% endblock %}
