{% load custommardown %}

{% markdown_demo %}
# Un grand titre
## Un titre un peu plus petit
##### Un très petit titre


## Mise en forme

Une citation :
> Texte à citer

Texte avec de l'*italique* et des **mots en gras**


## Liens
[Texte du lien](http://site-web.com)

## Images
![Python, c'est génial !](//imgs.xkcd.com/comics/python.png)


## Listes

### Liste à puce :

* élément
* élément
* élément

### Liste numérotée :

1. élément 1
2. élément 2
3. élément 3


## Maths
$F(\theta) = \int_{-\infty}^{+\infty} f(x)e^{i\theta x} \mathrm dx$

$
n! = \begin{cases}
1 & n \leq 1 \\
n\times(n-1)! & n \gt 1
\end{cases}
$

## Code
```python
print("1 + 1 = ", 1+1)
```
{% end_markdown_demo %}
