<div class="row user-message">
  <div class="large-1 show-for-large-up columns ">
    {% if edit %}
      <a href="{% url 'thread_show' thread.id %}#message-{{ edited_message.id }}" class="button tiny alert">Annuler</a>
    {% endif %}
    {% if edit %}
      <img width="50" src="{{ edited_message.user.get_photo }}" class="user-photo user-photo-small"/>
    {% else %}
      <img width="50" src="{{ user.get_photo }}" class="user-photo user-photo-small"/>
    {% endif %}
  </div>
  <div class="large-10 medium-11 columns">
    <div class="row user-message-header">
      <div class="large-6 columns">
        <strong>{% if edit %}Editer{% else %}Répondre{% endif %}</strong>
      </div>
    </div>
    <div class="row user-message-content">
      <form id="response-form" class="message-form" {% if not edit %} action="{% url 'thread_reply' thread.id %}" {% endif %} method="post">
        {% csrf_token %}
        {% for field in form %}
          {% include "simple_input.html" %}
        {% endfor %}
        <div class="row">
            {% include "telepathy/markdown_small_help.html" %}
          <div class="medium-6 columns hide-for-small-only">

            {% if not edit %}
            En répondant à ce message, vous serez automatiquement abonné à cette discussion.<br><!-- Vous pouvez <a href="#" target="blank_">changer ce comportement.</a> -->
            {% endif %}
          </div>
          <div class="small-12 medium-6 columns">
            <p class="hide-for-small-only text-right">
              <input type="submit" class="button success radius" value="{% if edit %}Editer{% else %}Répondre{% endif %}" />
            </p>
            <p class="hide-for-medium-up">
              <input type="submit" class="button success expand radius" value="{% if edit %}Editer{% else %}Répondre{% endif %}" />
            </p>
          </div>
        </div>
        <div id="makrdown-cheat" class="reveal-modal" data-reveal>
          {% include "telepathy/markdown_cheatsheet.html" %}
        </div>
      </form>
    </div>
  </div>
  <div class="large-1 columns ">
  </div>
</div>
