{% extends "skel.html" %}
{% block title %}Nouveau sujet{% endblock %}
{% block content %}
<div class="row">
  <div class="large-7 columns">
    <h1>Ajouter un nouveau sujet</h1>
    <h3>Dans "{{parent.name}}"</h3>
    <form action="{% url 'thread_put' parent.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
          {% include "simple_input.html" %}
        {% endfor %}
        {% include "telepathy/markdown_small_help.html" %}
        <p class="text-right">
          <input type="submit" class="button success radius" value="Envoyer" />
        </p>
    </form>
    <div id="makrdown-cheat" class="reveal-modal" data-reveal>
      {% include "telepathy/markdown_cheatsheet.html" %}
    </div>
  </div>
</div>

{% endblock %}

