{% extends "skel.html" %}
{% load humanize %}
{% load custommardown %}

{% comment %}
# Copyright 2012, hast. All rights reserved.

# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
{% endcomment %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

<div class="row">
  <div class="large-12 columns">
    <h1>{{ object.name }}</h1>
    <h3><a href="{% url "node_canonic" object.parent.id %}" class="light">
      <i class="fi-arrow-left back-icon"></i>  {{object.parent.name}}
    </a></h3>
  </div>
</div>
<div class="row">
  <div class="large-10 medium-12 columns">
    {% for message in messages %}
      {% include "telepathy/message.html" %}
    {% endfor %}
    <div class="row"><div class="medium-11 columns thread-separator"></div></div>
    {% include "telepathy/message_form.html" %}
  </div>

  <div class="large-2 medium-12 columns">
    {% if followed %}
      <a class="button expand alert radius" href="{% url 'unfollow_node' object.id %}">
        <i class="fi-x"></i> Se désabonner
      </a>
      <small>Vous recevez pour l'instant des notifiactions pour cette discussion.</small>
    {% else %}
      <a class="button expand success radius" href="{% url 'follow_node' object.id %}">
        <i class="fi-check"></i> S'abonner
      </a>
      <small>Pour reçevoir une notification à chaque nouvelle réponse ajoutée ici abonnez-vous.</small>
    {% endif %}
  </div>
</div>

{% endblock %}
