@tailwind base;
@tailwind components;
@tailwind utilities;


.nav {
    display: grid;

    width: 100%;
    height: 50px;
    top: 0px;
    grid-template-columns: 20% 60% 20%;
}


.logo {
    display: inline-grid;
    grid-area: 1;

    justify-content: center;
    align-items: center;
        
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}


.dropdown {
    display: inline-grid;
    grid-column-start: 3;

    justify-content: center;
    align-items: center;
}

.dropdown span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
}

.dropdown-content {
    display: none;

    position: absolute;
    width: min-content;
    height: max-content;
    left: 87%;
    top: 5%;
    background-color: #f9f9f9;
    z-index: 1;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
}

.dropdown-content a {
    font-family: Roboto;
    font-size: 1em;
    text-align: center;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
    padding: 0.5em;
    border-radius: 5px;
    margin: 5px;
}

.green{
    background-color: #43AC6A;
    color: white;
}

.blue{
    background-color: #50BEEC;
    color: white;
}

.card-footers span{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 17px;
}

.labels {
    margin-left: 6em; 
    display: inline-block
}

.labels span {
    display:block; 
    width: 4em; 
    text-align:center; 
    border-radius: 5px; 
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}