{% extends "skel.html" %}
{% load custommardown %}

{% block title %}Question{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h1>
        {{question.course.name}}
        {% if question.context %}
          <small>{{question.context}}</small>
        {% endif %}
    </h1>
  </div>
  <div class="large-8 columns">
    <div class="panel">
      <h3>Question :</h3>
      <p>
        Posée par {{question.user.name}}.
        {% if authors %}
          Editée par {{authors|join:", "}}
        {% endif %}
      </p>
      {{question.text|markdown}}

      <a class="button tiny" href="{% url 'question_edit' question.id %}">
          <i class="fi-pencil"></i>
          Editer la question
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-7 columns">
    <h3>Réponses</h3>
    {% for answer in answers %}
      {{answer.text|markdown}}
      <p>
        <span class="button tiny disabled info">
        {{answer.votes__count}} vote{{answer.votes__count|pluralize}}
        </span>
        {% if answer.has_voted %}
          <a class="button tiny warning" href="{% url 'question_answer_downvote' answer.id %}">
            <i class="fi-x"></i>
            Retirer mon vote
          </a>
        {% else %}
          <a class="button tiny success" href="{% url 'question_answer_upvote' answer.id %}">
            <i class="fi-check"></i>
            Cette réponse est correcte
          </a>
        {% endif %}
        <a class="button tiny" href="{% url 'question_answer_edit' answer.id %}">
          <i class="fi-pencil"></i>
          Editer la réponse
        </a>
        <br>
        Réponse rédigée par : {{answer.authors|join:", "}}
      </p>
    {% endfor %}
    </div>
</div>
{% endblock %}
