{% extends "base.html" %}

{% block title %}Modération{% endblock %}

{% block header %}
    <header class="container-xl py-4 border-bottom bg-light">
        <h1 class="d-flex align-items-center gap-2">
            Modération
        </h1>
        <div class="d-flex gap-2 flex-wrap">
            <a class="btn btn-outline-primary btn-sm d-inline-flex align-items-center gap-1"
               href="{% url 'moderators_list' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                </svg>
                <span>Gérer les modérateurs</span>
            </a>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'moderation_tree' %}">Arbre</a>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'public_logs' %}">Journal</a>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'moderation_about' %}">À propos</a>
        </div>
    </header>
{% endblock header %}

{% block content %}
{% endblock content %}
