{% extends "base.html" %}

{% block title %}Modération{% endblock %}

{% block header %}
    <header class="container-xl py-4 border-bottom bg-light">
        <h1 class="d-flex align-items-center gap-2">
            Modération
        </h1>
        <div class="d-flex gap-2 flex-wrap">
            <a class="btn btn-outline-primary btn-sm d-inline-flex align-items-center gap-1"
               href="{% url 'manage_moderators' %}">
                {% include "icons/bi-people-fill.html" %}
                <span>Gérer les modérateurs</span>
            </a>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'moderation_tree' %}">Arbre</a>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'public_logs' %}">Journal</a>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'moderation_about' %}">À propos</a>
        </div>
    </header>
{% endblock header %}

{% block content %}
{% endblock content %}
