{% extends "base.html" %}

{% block title %}Demande d'accès{% endblock %}

{% block content %}
    <div class="page is-narrow">
        <div class="page-head">
            <h1><em class="lede">Demande</em> de droits de modération</h1>
        </div>

        <div class="prose">
            <div class="notice is-success">
                {% include "icons/bi-unlock-fill.html" with width=20 height=20 %}
                <div>
                    Merci ! Nous avons bien reçu ta demande. Les admins font une rapide vérifications puis te donneront accès.
                    Tu recevras un email une fois que c'est le cas !
                </div>
            </div>

            <a href="{% url 'moderation_about' %}" class="btn btn-primary">Retour</a>
        </div>
    </div>
{% endblock content %}
