{% extends "base.html" %}

{% block title %}Demande d'accès{% endblock %}

{% block content %}
    <h1>Demande de droits de modération</h1>
    <div class="alert alert-success mt-2 d-flex align-items-center gap-2" role="alert">
        {% include "icons/bi-unlock.html" %}
        <div>
            Merci ! Nous avons bien reçu ta demande. Les admins font une rapide vérifications puis te donneront accès.
            Tu recevras un email une fois que c'est le cas !
        </div>
    </div>

    <a href="{% url 'moderation_about' %}" class="btn btn-primary">Retour</a>
{% endblock content %}
