@import 'colors'

@font-face
    font-family: arvo
    src: url(/static/3party/arvo/Arvo-Regular_201.ttf)
    font-weight: normal

@font-face
    font-family: arvo
    src: url(/static/3party/arvo/Arvo-Bold_201.ttf)
    font-weight: bold

h1, h2, h3, h4, h5, h6
    font-family: arvo
    font-weight: bold


h1
    border-bottom: dotted 1px $gray

h3 i, h2 i
    margin-right: 10px
    color: $foundation-blue

h3, h4, h5, h6
    color: #333

.row.full-width
    width: 100%
    max-width: 100%

.green
    color: $foundation-green

.dark-grey
    color: $dark-gray
    &:hover
        color: #333

.black
    color: #111
    &:hover
        color: #333

.sh-space
    padding-left: 7px

.user-message
    margin-bottom: 20px !important

a.light
    color: $dark-gray
    &:hover
        text-decoration: underline

.user-message-header
    border: 1px solid $light-gray
    padding: 5px
    padding-right: 0px
    background-color: $light-gray
    -webkit-border-top-left-radius: 4px
    -webkit-border-top-right-radius: 4px
    -moz-border-radius-topleft: 4px
    -moz-border-radius-topright: 4px
    border-top-left-radius: 4px
    border-top-right-radius: 4px

.user-message-content
    border: 1px solid $light-gray
    border-top: 0px
    padding-top: 10px
    padding-left: 15px
    padding-right: 15px
    -webkit-border-bottom-left-radius: 4px
    -webkit-border-bottom-right-radius: 4px
    -moz-border-radius-bottomleft: 4px
    -moz-border-radius-bottomright: 4px
    border-bottom-left-radius: 4px
    border-bottom-right-radius: 4px
    h2
        color: #333



.thread-separator
    border-top: 5px solid $light-gray
    margin-bottom: 20px

.sidebar
    background-color: #F7F7F7

.main-side-nav
    // margin-top: .5em
    // border: 2px solid $light-gray
    height: 100%
    padding-left: 0px
    padding-right: 5px
    li
        padding-left: 5px !important
        margin: 0px
        padding: 0px
        &:nth-child(even)
            // background-color: #EFEFEF;
    .nav-link
        padding-left: 12px !important
        padding-right: 5px !important
        &:hover
            background-color: #F2F2F2
        a
            color: #222 !important
            &:hover
                color: #555 !important
            i
                color: #007095

.sidebar-button
    font-family: arvo
    color: white
    i
        margin-right: 4px

ul.course-bulletlist
    list-style: none
    padding-left: 0px
    text-indent: -8px

code
    color: #333
    background-color: $light-gray
    padding: 3px
    padding-left: 5px
    padding-right: 5px
    font-weight: normal
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px

pre.codehilite
    code
        font-weight: normal
        background-color: white
        padding: 0px
        font-size: 1.1em
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    border: 1px solid $light-gray
    margin: 5px
    margin-left: 20px
    padding: 10px

.course-row
    // border: 1px solid black;
    margin-bottom: 10px !important

i.round-icon
    float: left
    color: #222
    background-color: $light-gray
    border: 1px solid #ddd
    text-align: center
    clear: both
    margin-right: 10px
    margin-left: 7px
    text-align: center
    width: 1.6em
    height: 1.6em
    line-height: 1.6em
    -webkit-border-radius: 0.8em
    -moz-border-radius: 0.8em
    border-radius: 0.8em
    &.active
        background-color: #333
        color: #ffe
        border-color: #444

a i.round-icon:hover
    color: #444
    background-color: #fff

i.round-icon
    &.downvote
        color: #ff0202
        border: 0px
        margin-top: 5px
        margin-right: 3px
        margin-left: 0px

        &.active
            background-color: #ff0202
            color: #000

    &.upvote
        color: #00cc00
        border: 0px
        margin-top: 5px
        margin-right: 3px
        margin-left: 0px

        &.active
            background-color: #00cc00
            color: #000

i.upvote:hover
    color: #000
    background-color: #00cc00

i.downvote:hover
    color: #000
    background-color: #ff0202

i.round-icon
    &.big
        font-size: 2.5em

    &.medium
        font-size: 1.5em

.votelabel
    margin-top: 15px
    float: left
    min-width: 37px

.tooltip-box
    font-size: 0.9em

    small
        font-size: 0.8em

.course-row-content
    min-height: 4em
    margin-left: 4.5em
    padding: 10px
    padding-top: 0px
    padding-bottom: 0px

.course-row
    &.thread .course-row-content
        border-left: 5px solid #007095

    &.document .course-row-content
        padding-top: 10px
        border-left: 5px solid $foundation-red
        min-height: 155px
        margin-left: 82px

.course-content-last-line
    min-height: 1.5em
    padding-bottom: 5px

    .label
        position: relative
        top: -0.30em

.user-photo
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px

.user-photo-small
    width: 50px

.user-photo-feed
    width: 2em

.user-photo-big
    width: 80px

.back-icon
    color: #AAA

    &:hover
        color: #666

.course-list
    padding-top: 10px
    clear: both
    margin-left: 0px
    list-style: none

.course-label
    position: relative
    top: -3px
    text-transform: uppercase
    margin-right: 5px

.course-children
    color: #ccc

.catalog-option
    padding-bottom: 10px !important

.follow-all
    margin-bottom: 0px

.tag-item
    transition: border-radius 0.5s
    &.selectionable
        cursor: pointer
        &:hover
            border-radius: 25px
    &.active
        font-weight: bold
        border-radius: 25px

.side-nav li a:not(.button)
    padding: 3px 0.875rem 3px
    &:hover
        background: none

.feed-photo
    height: 2.5em
    float: left
    margin-top: .3em
    margin-right: .5em
    border-radius: .25em

.feed-timesince
    color: $dark-gray

#notifications-button
    background-color: $foundation-red
    &.zero
        background-color: $foundation-blue

.feed-placeholder
    color: $dark-gray
    opacity: 0.3

ul.tabs li.active, dl.tabs dd.active
    border-top: 3px solid $foundation-blue
    border-left: 1px solid $gray
    border-right: 1px solid $gray
    border-bottom: 1px solid white

ul.tabs li, dl.tabs dd
    border-top: 3px solid white
    border-left: 1px solid white
    border-right: 1px solid white
    border-bottom: 1px solid $gray

.tab-title a, dd a
    background-color: white !important


.select2-selection
    border-radius: 0 !important
    border: 1px solid #AAA !important
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset

.select2
    margin-bottom: 1.2em

.spinning, .spinning:before
    animation: 1s linear 0s normal none infinite running spin

.fading, .fading:before
    animation: 1s linear 0s normal none infinite running fading

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(359deg)

@keyframes fading
    0%
        opacity: 1
    50%
        opacity: 0.3
    100%
        opacity: 1


.search-blob
    display: inline-block
    width: 8em

.Select-input
    input
        background-color: white !important
