@import 'colors'

body
    font: normal 13px "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "Tahoma", "Verdana", sans-serif !important
    font-weight: 400
    background-color: $background-blue !important

h1, h2, h3, h4, h5, h6
    font-weight: bold

h1
    border-bottom: dotted 1px $gray

h3 i, h2 i
    margin-right: 10px
    color: $foundation-blue

h3, h4, h5, h6
    color: #333

.green
    color: $foundation-green

.dark-grey
    color: $dark-gray
    &:hover
        color: #333

.black
    color: #111
    &:hover
        color: #333


.back-icon
    color: #AAA

    &:hover
        color: #666

.course-list
    padding-top: 10px
    clear: both
    margin-left: 0px
    list-style: none
    .course-label

    position: relative
    top: -3px
    margin-right: 5px

.course-children
    color: #ccc

.catalog-option
    padding-bottom: 10px !important

.follow-all
    margin-bottom: 0px

.tag-item
    transition: border-radius 0.5s
    &.selectionable
        cursor: pointer
        &:hover
            border-radius: 10px
    &.active
        font-weight: bold
        border-radius: 10px

.course-document
    p
        font-size: 1.05em !important
        margin-bottom: 0.5rem
        font-style: italic
    span.radius.label.tag-item
        // font-size: 0.7em !important
        border: none !important
        opacity: 0.7
    .label.secondary:hover
        background-color: darken(#e7e7e7, 10%)
    .label.info:hover
        background-color: darken(#a0d3e8, 10%)
    .panel
        background-color: lighten(#e7e7e7, 8%)
    .vote-color
        color: #FFD700

.select2-selection
    border-radius: 0 !important
    border: 1px solid #CCC !important
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset

.select2
    margin-bottom: 1.2em

.search-blob
    display: inline-block
    width: 8em


.no-list
    margin-left: 0
    li
        list-style-type: none

.course-list
    .label
        width: 8em

.fixed-label
    width: 8em

.Select-input
    input
        background-color: white !important

.tag-bar
    line-height: 2.1em

.course-top
    padding-bottom: .5em
    border-bottom: 1px dotted rgb(170, 170, 170)
