@import 'colors'

.viewer-title
    background-color: $gray !important
    font-weight: bold !important
    padding-top: .2em !important


.viewer-bar
    background-color: $gray !important
    section li a
        background-color: $gray !important
        color: #333 !important
        &:hover
            background-color: #333 !important
            color: #FFF !important

.viewer
    text-align: center

.viewer-title
    background-color: $gray
    padding: 0px 15px
    line-height: 42px
    font-size: 0.8125rem
    font-weight: normal
    color: #333
    &.divider
        border-color: #999 !important

.viewer-document
    margin: auto
    width: 50vw

.viewer-show-more
        margin: auto
        width: 50vw
