{% extends "base.html" %}
{% block title %}Profil{% endblock %}
{% block content %}

<div class="content">
    <div style="grid-column-start: 2;margin-top:1em">
        <h1>Préférences</h1>
        <div>
            {% if messages %}
            <div class="large-12 columns">
                <div data-alert class="alert-box success radius">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
            {% endif %}
        </div>
        <div>
            <p>
                <small>Ton nom ou prénom est incorrect ? Envoie-nous un <a href="mailto:p402@cerkinfo.be" style="color: blue">mail</a>,
                    on corrige ça tout de suite !</small>
            </p>
        </div>
        <div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
            <h3><i class="fas fa-key"></i> Token d'accès à l'API</h3>
            <input type="text" id="foo" disabled value="{{token.key}}">

            <a href="#" data-reveal-id="myModal" style="color: blue"><small>
                    <i class="fi-info"></i>
                    Exemples d'utilisation
                </small></a> -
            <a href="{% url "reset_token" %}" style="color: blue"><small>
                    <i class="fas fa-refresh"></i>
                    Supprimer cette clé et générer une nouvelle
                </small></a>

            <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="display: none;">
                <h2 id="modalTitle">Utilisation de l'API</h2>
                <p class="lead">Utilisation avec CURL</p>
                <p>
                    <pre>
curl -X GET https://dochub.be/api/ -H 'Authorization: Token {{token.key}}'
        </pre>
                </p>
                <p class="lead">Ou requests</p>
                <p>
                    <pre>
import requests
headers = {'Authorization': 'Token {{token.key}}'}
response = request.get("https://dochub.be/api/", headers=headers)
print(response.json())
        </pre>
                </p>
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
