<turbo-frame id="{{ turbo_id }}">
    {% if blocs|length > 0 %}
        <div id="blocs-finder-col" class="finder-col" empty-blocs-url="{% url "catalog:finder_turbo" "bloc" "empty" mobile %}">
        {% for bloc in blocs %}
            <a
                onclick="emptySubCat('{{ bloc.id }}', 'bloc_link')"
                class="inner-finder-col bloc_link"
                href="{% url "catalog:finder_turbo" "courses" bloc.slug mobile %}"
                data-turbo-frame="{{ futur_turbo_id }}"
                id="{{ bloc.id }}"
            >
                <i class="fas fa-folder"></i> {{ bloc.name }}
            </a>
        {% endfor %}
        </div>
    {% endif %}
</turbo-frame>
