{% load moderated_tags %}
{% load static %}

<turbo-frame id="{{ turbo_id }}">
    <div id="courses-finder-col" class="finder-col" spinner-url="{% static "images/loading.gif" %}" empty-courses-url="{% url "catalog:finder_turbo" "courses" "empty" mobile %}">
    {% for course in courses %}
        {% is_moderated request.user course as moderated %}
        <div
            id="{{ course.slug }}"
            class="inner-finder-col"
            style="grid-template-columns: 90% 1fr;display:grid;"
            leave-course-url="{% url "set_course_follow" "leave" course.slug %}"
            join-course-url="{% url "set_course_follow" "follow" course.slug %}"
            following={% if following %}1{% else %}0{% endif %}
        >
            <span style="grid-column-start: 1;">{{ course.name }}</span>

            {% if moderated %}
                <input type="checkbox" id="Course_{{ course.slug }}" name="Course_{{ course.slug }}" checked>
            {% else %}
                <input type="checkbox" id="Course_{{ course.slug }}" name="Course_{{ course.slug }}">
            {% endif %}
        </div>
    {% endfor %}
    </div>
</turbo-frame>
