{% load follow_tags %}
{% load static %}

<turbo-frame id="{{ turbo_id }}">
    <div id="courses-finder-col" class="finder-col" spinner-url="{% static "images/loading.gif" %}" empty-url="{% url "catalog:finder_turbo" "courses" "empty" mobile %}">
        <h3>{{ bloc_name }}</h3>
        {% for course in courses %}
            {% is_following request.user course as following %}
            <div
                id="{{ course.slug }}"
                class="inner-finder-col"
                style="grid-template-columns: 90% 1fr;display:grid;"
                leave-course-url="{% url "catalog:set_course_follow" "leave" course.slug %}"
                join-course-url="{% url "catalog:set_course_follow" "follow" course.slug %}"
                following={% if following %}1{% else %}0{% endif %}
            >
                <a href="{% url 'catalog:course_show' course.slug %}" target="_top" style="grid-column-start: 1;">{{ course.name }}</a>
                {% if following %}
                    <a
                        title="Leave the course"
                        id="follow-{{ course.slug }}"
                        onclick="follow('{{ course.slug }}')"
                        style="grid-column-start: 2;"
                    >
                        <i class="fas fa-minus-circle" style="color: #F34040"></i>
                    </a>
                {% else %}
                    <a
                        title="Join the course"
                        id="follow-{{ course.slug }}"
                        onclick="follow('{{ course.slug }}')"
                        style="grid-column-start: 2;"
                    >
                        <i class="fas fa-plus-circle" style="color: #43AC6A"></i>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</turbo-frame>
