<turbo-frame id="{{ turbo_id }}">
    <div class="finder-col" style="border: none;">

    {% if request.user.following_courses.count > 0 %}
        <a
            onclick="emptySubCat(['programs', 'blocs', 'courses'], 'mycourses', '{{ turbo_id }}')"
            class="inner-finder-col fac_link"
            id="mycourses"
            href="{% url "catalog:finder_turbo" "courses" "mycourses" mobile %}"
            data-turbo-frame="{{ futur_turbo_id }}"
            style="color: #f00"
        >
            <i class="fas fa-folder"></i> Mes cours
        </a>
    {% endif %}
    {% for fac in facs %}
        <a
            onclick="emptySubCat(['programs', 'blocs', 'courses'], '{{ fac.slug }}', '{{ turbo_id }}')"
            class="inner-finder-col fac_link"
            id="{{ fac.slug }}"
            href="{% url "catalog:finder_turbo" "programs" fac.slug mobile %}"
            data-turbo-frame="{{ futur_turbo_id }}"
            style="color: {{ fac.description }}"
        >
            <i class="fas fa-folder"></i> {{ fac.name }}
        </a>
    {% endfor %}
    </div>
</turbo-frame>
