<turbo-frame id="{{ id }}">
    {% if children|length > 0 %}
        <div class="finder-col" {% if target == 1 %}style="border: none;"{% endif %}>
        {% for child in children %}
            <a
                class="inner-finder-col"
                href="{% url "finder_turbo" target child.slug %}"
                data-turbo-frame={{ target }}
                {% if target == 1 %}
                    style="color: {{ child.description }}"
                {% endif %}
            >
                <i class="fas fa-folder"></i> {{ child.name }}
            </a>
        {% endfor %}
        </div>
    {% endif %}
</turbo-frame>
