/* Copyright 2012, hast. All rights reserved.
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at
 * your option) any later version.
 */

.logic-block {
    float: left;
    margin-bottom: 20px;
}

.clear {
    clear: both;
}

h1 {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: lighter;
    margin: 25px 20px 5px 20px;
    /*float: left;*/
}

h2 {
    font-weight: bold;
    font-size: 15px;
    margin: 14px 10px 5px 10px;
}

.logic-p {
    margin: 9px 10px 7px 10px;
    font-size: 12px;
}

#content {
    padding: 70px 20px 25px 20px;
}

#content a {
    color: blue;
    text-decoration: none;
}

#footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #eee;
    border-top: 2px solid #ddd;
    color: #555;
    text-align: center;
    padding: 4px 5px 4px 5px;
}

/* Forms */

#content form {
    margin: 10px 10px 20px 10px;
}

#content textarea {
    height: 50px;
    width: 300px;
}

#content form table th {
    padding: 3px 8px 1px 8px;
    vertical-align: middle;
    text-align: right;
}

#content form table td {
    padding: 3px 8px 1px 8px;
    vertical-align: middle;
    text-align: left;
}

/* DATA TABLE */

.sortable {
    font-family: Verdana;
    border-collapse: collapse;
}

.sortable td {
    border-top: #ddd 1px solid;
    border-left: #ddd 1px solid;
    padding: 9px 15px 7px 15px;
    font-size: 12px;
    background-color: #f1f1f1;
}

.sortable td:first-child {
    border-left: #eee 1px solid;
    padding-left: 25px;
}

.sortable td:last-child {
    padding-right: 25px;
}

.sortable tr:nth-child(odd) td {
    background-color: #fdfdfe;
}

.sortable tr:last-child td {
    padding-bottom: 10px;
}

.sortable tr:nth-child(odd) td:last-child {
    border-right: #eee 1px solid;
}

.sortable th {
    border-left: #666 1px solid;
    text-align: left;
    padding: 14px 15px 7px 17px;
    background-color: #333;
    color: #fff;
    font-size: 13px;
}

.sortable th:first-child {
    border-left: none;
    padding-left: 27px;
}

.rounded th:first-child {
    border-top-left-radius: 12px;
}

.rounded th:last-child {
    border-top-right-radius: 12px;
}

.dataTables_info {
    font-size: 10px;
    margin: 4px;
}

.sortable .dataTables_empty {
    text-align: center;
    padding: 10px;
}

.sortable .sorting_asc {
    background-image: url('/static/sort_asc.png');
    background-repeat: no-repeat;
    background-position: right;
}

.sortable .sorting_desc {
    background-image: url('/static/sort_desc.png');
    background-repeat: no-repeat;
    background-position: right;
}

.sortable .sorting {
    background-image: url('/static/sort_both.png');
    background-repeat: no-repeat;
    background-position: right;
}

.messages {
    border-spacing: 10px;
    width: 60%
}

.message-left {
    border-right: 1px solid #c1c2c7;
    padding-right: 10px;
    width: 20%;
    min-width: 190px;

}

.message-right {
    padding-left: 10px;
}

.message-right p{
    padding-left: 1em;
}

.message-right h2,h3,h4,h5{
    margin: 0px;
    margin-bottom: 0.3em;
    font-weight: bold;
}

.message-right p + h2{
    margin-top: 1em;
}


.message-right ul,ol  {
    list-style: disc;
    margin-left: 1.5em;
}

.message-right ul {
    list-style: disc;
}

.message-right ol {
    list-style: decimal;
}

.message-right li {
    margin-left: 1.5em;
}

.messages .small-profile {
    float:left;
    height: 3em;
    margin-right: 15px;
    border: 1px solid #c1c2c7;
}

#content .message-form {
    margin: 0px;
}

#content .message-form textarea{
    width: 100%;
    font-family: Helvetica;
    padding: 5px;
    font-size: 1.2em;
    height: 7em;
    border: 1px solid #c1c2c7;
}