@font-face {
    font-family: arvo;
    src: url(/static/3party/arvo/Arvo-Regular_201.ttf);
    font-weight: normal;
}
@font-face {
    font-family: arvo;
    src: url(/static/3party/arvo/Arvo-Bold_201.ttf);
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: arvo;
    font-weight: bold;
}

h1 {
    border-bottom:dotted 1px #ccc;
}

h3 i, h2 i {
    margin-right:10px ;
    color:#008cba;
}

.row.full-width {
    width: 100%;
    max-width: 100%;
}

.green { color: #368A55; }

.dark-grey { color: #666; }
.dark-grey:hover { color: #333; }

.black { color: #111; }
.black:hover { color: #333; }


.sh-space { padding-left: 7px; }
.user-message { margin-bottom: 20px !important; }

a.light {
    color: grey;
}


a.light:hover {
    text-decoration: underline;
}

.user-message-header {
    border: 1px solid #EEE;
    padding: 5px;
    padding-right: 0px;
    background-color: #F7F7F7;

    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.user-message-content {
    border: 1px solid #EEE;
    border-top: 0px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;


    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.user-message-content h2, h3, h4, h5, h6 {
    color: #333;
}

.thread-separator {
    border-top: 5px solid #EEE;
    margin-bottom: 20px;
}


.sidebar{
    background-color:#F7F7F7;
}

.main-side-nav {
    /*margin-top: .5em;*/
    /*border: 2px solid #EEE;*/
    height: 100%;
    padding-left:0px;
    padding-right:5px;
}

.main-side-nav li{
    padding-left: 5px !important;
    margin: 0px;
    padding: 0px;
}

.main-side-nav li:nth-child(even){
    /*background-color: #EFEFEF;*/
}

.main-side-nav .nav-link {
    padding-left: 12px !important;
    padding-right: 5px !important;
}

.main-side-nav .nav-link:hover {
    background-color: #F2F2F2;
}

.main-side-nav .nav-link a {
    color: #222 !important;
}

.main-side-nav .nav-link a:hover {
    color: #555 !important;
}

.main-side-nav .nav-link a i{
    color: #007095;
}

.sidebar-button{
    font-family: arvo;
    color:white;
}
.sidebar-button i{
    margin-right:4px;
}

ul.course-bulletlist {
    list-style:none;
    padding-left: 0px;
    text-indent: -8px;
}

code {
    color: #333;
    background-color: #eee;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

pre.codehilite code {
    font-weight: normal;
    background-color: white;
    padding: 0px;
    font-size: 1.1em;

}

pre.codehilite{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    border: 1px solid #eee;

    margin:5px;
    margin-left: 20px;
    padding: 10px;
}

.course-row {
    /*border: 1px solid black;*/
    margin-bottom: 10px !important;

}

i.round-icon{
    float: left;
    color: #222;
    background-color: #eee;
    border: 1px solid #ddd;
    text-align: center;
    clear: both;
    margin-right: 10px;
    text-align: center;

    width: 1.6em;
    height: 1.6em;
    line-height:1.6em;

    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
}

i.round-icon.active {
    background-color: #333;
    color: #ffe;
    border-color: #444;
}

a i.round-icon:hover {
    color: #444;
    background-color: #fff;
}

i.round-icon.big{
    font-size: 2.5em;
}

i.round-icon.medium{
    font-size: 1.5em;
}

.tooltip-box {
    font-size: 0.9em;
}

.tooltip-box small{
    font-size: 0.8em;
}

.course-row-content {
    min-height: 4em;
    margin-left: 4.5em;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.course-row.thread .course-row-content {
    border-left: 5px solid #007095;
}

.course-row.document .course-row-content {
    border-left: 5px solid #CF2A0E;
}

.course-content-last-line {
    min-height: 1.5em;
    padding-bottom: 5px;
}

.course-content-last-line .label{

    position: relative;
    top: -0.30em;
}

.user-photo{
     -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

 .user-photo-small {
    width: 50px;
 }

 .user-photo-feed {
    width: 2em;
 }

 .user-photo-big {
     width: 80px;
 }


.back-icon {
    color: #AAA;
}

.back-icon:hover {
    color: #666;
}

.course-list {
    padding-top:10px;
    clear: both;
    margin-left:0px;
    list-style: none;
}

.course-label {
    position:relative;
    top:-3px;
    text-transform: uppercase;
    margin-right: 5px;
}

.course-children {
    color:#ccc;
}

.catalog-option {
    padding-bottom:10px !important;
}

.follow-all {
    margin-bottom:0px;
}

/* Tags textbox */
.select2-container-multi .select2-choices .select2-search-field input {
    height:33px;
}

.tag-item {
    transition: border-radius 0.5s;
}

.tag-item.selectionable:hover {
    border-radius: 25px;
}

.tag-item.active {
    font-weight: bold;
    border-radius: 25px;
}

.viewer-title {
    background-color: #aaa !important;
    font-weight: bolder;
}

.side-nav li a:not(.button) {
    padding:3px 0.875rem 3px;
}

.side-nav li a:not(.button):hover {
    background:none;
}



.feed-photo {
  height: 2.5em;
  float:left;
  margin-top: .3em;
  margin-right: .5em;
  border-radius: .25em;
}

.feed-timesince {
  color: #777;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.notifications-spinner:before {
    font-size: 3em;
    color: grey;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#notifications-button  {
    background-color: #CF2A0E;
    /*border-radius: 1em;*/
}

#notifications-button.zero {
    background-color: #008CBA;
}

.feed-placeholder{
    color: grey;
    opacity: 0.3;
}

ul.tabs li.active, dl.tabs dd.active {
    border-top:3px solid #2BA6CB;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid white;
}

ul.tabs li, dl.tabs dd {
    border-top:3px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid #E6E6E6;
}

.tab-title a, dd a{
    background-color: white !important;
}

