/* Copyright 2012, hast. All rights reserved.
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at
 * your option) any later version.
 */

#navbar-fix {
    position: fixed;
    right: 0px;
    left: 0px;
    color: white;
    z-index: 10;
    min-width: 590px;
}

#navbar-fix a {
    color: white;
    text-decoration: none;
}

#navbar-top {
    background-color: #365d98;
    height: 60px;
    cursor: pointer;
}

#brand {
    font-family: verdana;
    font-size: 26px;
    font-weight: bold;
    float: left;
    margin: 15px 30px 0px 30px;
}

#brand small {
    font-family: verdana;
    font-weight: normal;
    font-size: 18px;
    color: white;
}

#navbar-top a.link {
    float: left;
    height: 23px;
    padding: 27px 25px 10px 40px;
    font-size: 18px;
    font-family: Helvetica;
}

#navbar-top a.home {
    background-image: url("/static/images/home.png");
    background-repeat: no-repeat;
    background-position: 0px 3px;
}

#navbar-top a.courses {
    background-image: url("/static/images/courseb.png");
    background-repeat: no-repeat;
    background-position: 0px 3px;
    padding-left: 50px;
    background-color: #365d98;
}

#navbar-top a.courses-focus {
    background-image: url("/static/images/courseg.png");
    background-repeat: no-repeat;
    background-position: 0px 3px;
    padding-left: 50px;
    background-color: #333;
}

#navbar-top a.calendar {
    background-image: url("/static/images/calendar.png");
    background-repeat: no-repeat;
    background-position: 0px 3px;
}

#navbar-top a.wall {
    background-image: url("/static/images/wall.png");
    background-repeat: no-repeat;
    background-position: 0px 3px;
    padding-left: 50px;
}

#navbar-search {
    float: right;
}

#search-query {
    max-width: 500px;
    min-width: 250px;
    border: none;
    height: 24px;
    margin-top: 22px;
    border-radius: 2px;
    background: #fff url("/static/images/search-icon.png") left no-repeat;
    padding-left: 20px;
}

#navbar-top #logout {
    float: right;
}

#navbar-bottom {
    background-color: #333; /*#003585;*/
    border-bottom: 1px #666 solid;
    padding: 10px;
    font-size: 10px;
    display: none;
    min-width: 600px;
}

.navbar-list {
    float: left;
    margin: 4px 10px 2px 10px;
    min-width: 80px;
    max-height: 400px;
    overflow: auto;
}

.navbar-list li {
    color: white;
    cursor: pointer;
    padding: 1px 6px 1px 8px;
}

.navbar-list li:first-child {
    font-weight: bold;
    color: white;
}

.navbar-category {
    margin-bottom: 2px;
}

.navbar-list li a {
}

#navbar-clearer {
    clear: both;
}
