/* Copyright 2012, hast. All rights reserved.
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at
 * your option) any later version.
 */

#navbar {
    position: fixed;
    right: 0px;
    left: 0px;
    color: white;
    z-index: 10;
}


#navbar-top {
    position: fixed;
    width: 100%;
    text-align: justify;
    background-color: #365d98;
    height: 3em;
}

#navbar-top:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

#navbar-top #navbar-left,#navbar-center,#navbar-right {
    display: inline-block;
    height: 3em;

}

#navbar-top #brand {
    font-family: verdana;
    font-weight: bold;
    background: url(/static/images/logo-header.png);
    background-size: 2.5em;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 2.7em;
}

#navbar-top a,form {
    font-family: Helvetica;
    font-size: 1.5em;
    height: 3em;
    display: inline-block;
    color: white;
    text-decoration: none;
    height: 100%;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.5em;
    vertical-align: middle;
}

#brand small {
    font-family: verdana;
    font-weight: normal;
    color: white;
}


@font-face {
    font-family: "entypo";
    src: url('/static/3party/entypo.ttf');
}


#navbar a.icon:before {
    font-family: "entypo";
    padding-right: .2em;
}

#navbar a.home:before { content: '\2302 ';}
#navbar a.courses:before { content: '\1F4D6 ';}
#navbar a.calendar:before { content: '\1F4C5 ';}
#navbar a.wall:before { content: '\E005 ';}
#navbar a.notif:before { content: '\1F4BF';}

#navbar a.focus {
    background-color: #333;
}

#notification-counter {
    position: absolute;
    top: 12px;
    left: 1.5em;
    background-color: #252629;
    color: #fff;
    border-radius: 3px;
    position: relative;
    top: -0.5em;
    left: -0.5em;
}

#navbar-search {
    display: inline-block;

}

#search-query {
    display: inline-block;
    border: none;
    border-radius: 2px;
    padding-left: 20px;
    margin-top: -0.18em;
    font-size: 0.8em;
    background: #fff url("/static/images/search-icon.png") left no-repeat;
}

#navbar #logout {
    display: inline-block;

}

#navbar-bottom {
    background-color: #333; /*#003585;*/
    border-bottom: 1px #666 solid;
    margin-top: 3em;
    padding: 10px;
    font-size: 10px;
    display: none;
}

.navbar-list {
    float: left;
    margin: 4px 10px 2px 10px;
    min-width: 80px;
    max-height: 400px;
    overflow: auto;
}

.navbar-list li {
    color: white;
    cursor: pointer;
    padding: 1px 6px 1px 8px;
}

.navbar-list a {
    color: white;
    text-decoration: none;
}

.navbar-cattitle {
    font-weight: bold;
    color: white;
}

.navbar-category {
    margin-bottom: 2px;
}

.navbar-list li a {
}

#navbar-clearer {
    clear: both;
}
