/* Copyright 2012, hast. All rights reserved.
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at
 * your option) any later version.
 */

.panel {
    border: #ddd 1px solid;
    background-color: white;
    margin-top: -11px;
    padding: 10px 20px 20px 10px;
    display: none;
}

.panel-button {
    font-size: 15px;
    font-family: verdana;
    float: right;
    margin: 13px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border-top: #ddd solid 1px;
    border-left: #ddd solid 1px;
    border-right: #ddd solid 1px;
    background-color: white;
}

.border-bottom {
    border-bottom: #ddd solid 1px;
}
