/* Copyright 2012, hast. All rights reserved.
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at
 * your option) any later version.
 */

#thumbs {
    float: left;
    position: fixed;
    overflow: auto;
    background-color: #eee;
    padding: 10px 28px 10px 20px;
    margin: 36px 0px 0px 0px;
    height: 300px;
}

#thumbs p {
    font-size: 10px;
    text-align: center;
}

.thumb {
    border: 1px #eee solid;
    margin: 10px;
    display: block;
}

#viewer-header {
    position: fixed;
    background-color: #eee;
    padding: 4px 5px 2px 0px;
    width: 380px;
    height: 30px;
}

#viewer-header img {
    margin: 2px 5px 0px 5px;
    cursor: pointer;
}

#viewer-header span {
    vertical-align: 30%;
    margin-right: 10px;
}

#zoom {
    width: 50px;
    border-radius: 0px;
    border: 0px;
    padding: 4px 5px 3px 5px;
    vertical-align: 30%;
}

#pages {
    margin-top: 30px;
    margin-left: 200px;
}

#top-page {
    border: 1px #eee solid;
    margin: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.page {
    border: 1px #eee solid;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

