@import 'colors'

.viewer-title
    background-color: $gray !important
    font-weight: bold !important
    padding-top: .2em !important


.viewer-bar
    background-color: $gray
    section li a
        background-color: $gray !important
        color: #333 !important
        &:hover
            background-color: #333 !important
            color: #FFF !important

#thumbs
    position: fixed
    overflow: auto
    background-color: $light-gray
    padding: 15px 28px 10px 20px
    text-align: center
    height: 100%
    p
        font-size: 10px
        text-align: center

.thumb
    border: 1px $light-gray solid

#thumbs-misere
    position: fixed
    top: 0px
    background-color: $light-gray
    height: 100px
    width: 100%/6
    z-index: -1
    display: none

@media only screen and (min-width: 40.063em)
    #thumbs-misere
        display: inherit !important

.page
    border: 1px $light-gray solid
    margin: 10px
    display: block
    margin-left: auto
    margin-right: auto
    background-color: white

.hilight
    border: 2px #bde solid

.viewer-title
    background-color: $gray
    padding: 0px 15px
    line-height: 45px
    font-size: 0.8125rem
    font-weight: normal
    color: #333
    &.divider
        border-color: #999 !important
