{% extends "skel.html" %}
{% load humanize %}

{% comment %}
# Copyright 2012, hast. All rights reserved.

# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
{% endcomment %}

{% block content %}
<div class="logic-block">
  <h1>{{ object.name }}</h1>
  {% if show_button %}
  <a class="panel-button border-bottom" href="{% url 'follow_node' object.id %}">
    Follow all courses in this category
  </a>
  {% endif %}
  <p>{{ object.description }}</p>
</div>
<div class="clear"></div>

<div class="logic-block">
  {% if object.subcategories %}
    <h2>Subcategories</h2>
    <ul>
      {% for cat in object.subcategories %}
      <li>
        <a href="{% url 'category_show' cat.id %}">{{ cat.name }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if object.courses %}
    <h2>Courses</h2>
    <ul>
      {% for course in object.courses %}
      <li>
        <a href="{% url 'course_show' course.id %}">
          {{ course.slug|upper }}: {{ course.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
<div class="clear"></div>
{% endblock %}
