{% extends "home.html" %}
{% load humanize %}

{% comment %}
# Copyright 2012, hast. All rights reserved.

# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
{% endcomment %}

{% block content %}
<div class="logic-block">
  <h1>{{ object.slug|upper }}: {{ object.name }}</h1>
  <a href="{{ gehol }}" target="_blank">Horaire</a>
  <a class="panel-button border-bottom" href="{% url course_leave object.slug %}">
    {% if object in request.user.get_profile.follow.all %} leave {% else %} join {% endif %}
  </a>
  </div>
  <div class="clear"></div>
  <div id="edit" class="panel">
    <form action="" method="post">
      {% csrf_token %}
      {% for line in object.last_info.infos %}
      <input type="text" style="width: 100px" value="{{ line.name }}"/> :
      <input type="text" style="width: 300px" value="{{ line.value }}"/><br>
      {% endfor %}<br>
      <input type="submit" value="Edit"/>
    </form>
  </div>
  <div class="logic-p">
  {% for line in object.last_info.infos %}
    <strong>{{ line.name }}:</strong> {{ line.value|truncatechars:50 }}<br>
  {% endfor %}
  </div>
</div>

<div class="clear"></div>

<div class="logic-block">
  <h1>Documents</h1>
  {% include "upload_doc.html" %}
  {% include "document_list.html" %}
</div>

<div class="clear"></div>

<div class="logic-block">
  <h1>Discussions</h1>
  {% include "add_thread.html" %}
  {% include "thread_list.html" %}
</div>
<div class="clear"></div>
{% endblock %}
