{% extends "3col.html" %}
{% load humanize %}
{% load custommardown %}

{% comment %}
# Copyright 2012, hast. All rights reserved.

# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
{% endcomment %}

{% block center-col %}
<div class="row">
  <div class="large-12 columns">
    <h1 >{{ object.slug|upper }}{% if followed %} <i class="fi-check green"></i>{% endif %}</h1>
    <h2>{{ object.name }}</h2>
  </div>
</div>

<div class="row">
  <div class="row">
    <div class="large-4 columns">
      <input type="text" placeholder="Recherche...">
    </div>
    <div class="large-4 columns">
      <input type="text" placeholder="Tags">
    </div>
    <div class="large-4 columns">
      <select type="text" placeholder="Tags">
        <option value="value2" selected>Toutes les années</option>
      </select>
    </div>
  </div>
  <div class="large-9 medium-12 columns">
    {% for node in children_nodes %}
      {% ifchanged node.year %}
        <h3>{{ node.year }}</h3>
      {% endifchanged %}
      <div class="row course-row">
        {% if node.classBasename == 'Thread' %}
          <a href="{% url 'thread_show' node.id %}"><i class="fi-comment big"></i></a>
        {% elif node.classBasename == 'Document' %}
          <i class="fi-{% if node.state == 'pending' %}loop{% else %}page-copy{% endif%} big"></i>
        {% endif %}
        <div class="course-row-content">
          <h5><a
            {% if node.classBasename == 'Thread' %}
              href="{% url 'thread_show' node.id %}"
            {% elif node.classBasename == 'Document' %}
              href="{% url 'document_show' node.id %}"
            {% endif %}
          >{{ node.name }}</a> par {{ node.user.name }}</h5>
          {% if node.classBasename == 'Thread' %}
            {{ node.message_set.first.text|markdown|striptags|truncatechars:200 }}<br>
            le {{ node.created|date:"d F" }}
          {% elif node.classBasename == 'Document' %}
            {% if node.description %}{{ node.description|truncatechars:200 }}<br>{% endif %}
            {{ node.pages }} page{{ node.pages|pluralize }} -
            le {{ node.date|date:"d F" }}
          {% endif %}
          {% for kw in node.keywords.all%}
            <span class="secondary radius label">
              {{kw}}
            </span>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block right-col %}
<div class="row">
  <div class="large-12 columns">
    <!-- <a href="{{ gehol }}" class="button expand" target="_blank">Horaire</a> -->
    <a class="button expand" href="{% url 'document_put' object.id %}">Uploader un fichier</a>
    <a class="button expand" href="{% url 'thread_put' object.id %}">Poser une question</a>
    {% if followed %}
      <a class="button expand alert" href="{% url 'unfollow_node' object.id %}">
        <i class="fi-x"></i> Se désabonner
      </a>
    {% else %}
      <a class="button expand success" href="{% url 'follow_node' object.id %}">
        <i class="fi-check"></i> S'abonner
      </a>
    {% endif %}
  </div>
</div>

{% endblock %}

{% comment %}
  TODO : re-add course wiki
{% endcomment %}
