{% extends "home.html" %}

{% comment %}
# Copyright 2012, hast. All rights reserved.

# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
{% endcomment %}

{% block content %}
<h1>{{ object.name }} 
  {% if user.get_profile in object.followed.all %}
  <small>
    <a href="{% url course_leave object.slug %}">leave</a>
  </small>
  {% else %}
  <small>
    <a href="{% url course_join object.slug %}">join</a>
  </small>
  {% endif %}
</h1>
<p>{{ object.description }}</p>

<h1>Documents</h1>

<table class="sortable">
  <thead>
    <tr>
      <th>##</th>
      <th style="min-width: 200px">Name</th>
      <th>Poster</th>
      <th>Size</th>
    </tr>
  </thead>
  
  <tbody>
  {% for doc in object.document_set.all %}
    <tr>
      <td>{{ doc.id }}</td>
      <td><a href="{% url document_show doc.id %}">{{ doc.name }}</a></td>
      <td>{{ doc.user.name }}</td>
      <td>{{ doc.pages }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>

<h2>Upload</h2>
<form action="{% url document_put %}" method="post"
      enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    {{ upload_form.as_table }}
  </table>
  <input type="submit" value="Upload"/>
</form>
{% endblock %}
