{% extends "skel.html" %}

{% block title %}Liste des cours{% endblock %}

{% block content %}
<div class="row">
  <div class="medium-12 columns">
    <h1>Vos cours</h1>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      {% for course in followed_courses %}
        <li>
          <h4>
            <a href="{% url 'course_show' course.slug %}">
              <i class="fi-folder round-icon small"></i>
              {{ course.slug }}
            </a>
        </h4>
          {{ course.name }}
          {% with course.children as children %}
            {% if children|length > 0 %}
              ({{ children|length }} élément{{ children|pluralize }})
            {% endif%}
          {% endwith %}
        </li>
      {% empty %}
        <p>On dirait que vous ne suivez aucun cours pour le moment.<br>
        Vous pourriez parcourir le catalogue de DocHub et vous abonner à ce qui vous intéresse.</p>
      {% endfor %}
    </ul>

    <h1>Catalogue</h1>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    {% for fac in faculties %}
        <li>
          <h4>
            <a href="{% url 'category_show' fac.id %}">
              <i class="fi-annotate round-icon small"></i>
              {{ fac.name }}
            </a>
          </h4>
        </li>
      {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
