<table class="sortable rounded w700">
  <thead>
    <tr>
    <th>Titre</th>
    <th>Par</th>
    <th>Pages</th>
    <th>Date</th>
    </tr>
  </thead>

  <tbody>
  {% if object.document_set %}
    {% for doc in object.document_set %}
      <tr>
      {% if doc.state == 'done'  %}
        <td>
          <a title="{{ doc.description }}" href="{% url 'document_show' doc.id %}">
            {{ doc.name }}
          </a>
        </td>
        <td>{{ doc.user.name }}</td>
        <td>{{ doc.pages }}</td>
        <td>{{ doc.date|date:"d/n/y" }}</td>
      {% else %}
        <td>{{ doc.name }}</td>
        <td colspan=3 >Document pending, please wait</td>
      {% endif %}

      </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td colspan="3">
        Il n'y a pas documents ici...<br>Et si vous <a href="#">uploadiez quelque chose ?</a>
      </td>
    </td>
  {% endif %}
  </tbody>
</table>