{% extends "skel.html" %}
{% load humanize %}
{% load custommardown %}

{% comment %}
# Copyright 2012, hast. All rights reserved.

# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
{% endcomment %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

<div class="row">
  <div class="large-12 columns">
    <h2>{{ object.name }}</h12
  </div>
</div>
<div class="row">
  <div class="large-10 medium-12 columns">
      {% include "message_form_template.html" %}
  </div>
</div>

{% endblock %}
