{% load custommardown %}
{% load humanize %}
{% load cache %}

<div class="row">
  <div class="small-12 columns feed-element">
    <div class="user-message-header row">
      <div class="small-10 columns feed-element">
        <strong>
          <i class="fi-page"></i>
          <a href="{% url 'document_show' document.id %}">{{ document.name }}</a>
        </strong>
        <small>
          par {{document.user.name}}
        </small>
      </div>
      <div class="small-2 columns feed-element text-right">
        <img width="80" src="{{ document.user.get_photo }}" class="user-photo user-photo-feed">
      </div>
    </div>
    <div class="user-message-content row">
      <div class="small-12 columns feed-element-limited ">
        <a href="{% url 'document_show' document.id %}">
          <img src="{{document.page_set.first.bitmap_600.url}}">
        </a>
      </div>
    </div>
    <br>
  </div>
</div>
