{% load custommardown %}
{% load humanize %}
{% load cache %}


{% if action.actor.get_absolute_url %}
  <a href="{{ action.actor.get_absolute_url }}">{{ action.actor }}</a>
{% else %}
  {{ action.actor }}
{% endif %}

{{ action.verb }}

{% if action.action_object %}
    {% if action.action_object.get_absolute_url %}
      <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a>
    {% else %}
      {{ action.action_object }}
    {% endif %}
{% endif %}

{% if action.action_object and action.target %}dans{% endif %}

{% if action.target %}
    {% if action.target.get_absolute_url %}
      <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
    {% else %}
      <a href="{{ action.target_url }}">{{ action.target }}</a>
    {% endif %}
{% endif %}

il y a {{ action.timestamp|timesince }}

<br>
