{% extends "skel.html" %}
{%load humanize %}
{% load custommardown %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h1>Bienvenue sur DocHub</h1>
  </div>
</div>
{% if user.welcome %}
  <div class="row">
    <div class="large-10 columns">
      <div class="panel">
        <div class="row">
          <div class="small-11 columns">
            <h3>Vous semblez nouveau !</h3>
          </div>
          <div class="small-1 columns text-right">
            <a href="#"><i class="fi-x"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <p>Peut-être voudriez-vous vous abonner à des cours ?</p>
            {% if welcome.new_inscriptions %}
              <p>On dirait que vous étudiez {{ welcome.inscription.section }} l'année passée mais nous ne savons pas ou vous êtes partis cette année...</p>
              <p>Voici quelques sections où vous auriez pu aller :
              {% for new in welcome.new_inscriptions %}
                {{ new.section }}
              {% endfor %}</p>
            {% elif welcome.inscription %}
              <p>Etudiez-vous {{ welcome.inscription.section }} dans la facutlé {{ welcome.inscription.faculty|capfirst }} ?</p>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <h3>Vous pouvez aussi découvrir DocHub :</h3>
          </div>
        </div>
        <div class="row">
          <div class="large-4 medium-4 columns">
        <p><a href="#">Liste des cours</a><br />Lorem Ipsum</p>
      </div>
          <div class="large-4 medium-4 columns">
            <p><a href="#">Aide</a><br />Lorem Ipsum</p>
          </div>
          <div class="large-4 medium-4 columns">
            <p><a href="#">Page Facebook</a><br>Lorem IpsumSit dolor amet...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="large-8 columns">
    {% for elem in wall %}
      <div class="row">
        <div class="small-3 large-2 columns ">
          <img width="80" src="{{ elem.user.get_photo }}" class="user-photo user-photo-big"/>
        </div>
        <div class="small-9 large-10 columns feed-element">
          <div class="user-message-header"><strong><i class="fi-{{ elem.icon }}"></i> {{ elem.text }}</strong></div>
          <div class="user-message-content">
            <div class="feed-element-limited ">
              {{elem.content|markdown}}
            </div>
            <div class="feed-date">
              <a href="{{ elem.url }}">{{ elem.created|naturaltime|capfirst }}</a> par {{elem.user.name}}
            </div>
          </div>
          <br>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}