{% extends "skel.html" %}

{% block content %}
{% if request.user.welcome %}
  {% include "welcome.html" %}
{% endif %}
<br>
<div class="row">
    <div class="large-8 columns">
        <form action="{% url 'course_search' %}" method="post">
            {% csrf_token %}
            {{ search.non_field_errors }}


            <div class="row collapse">
              <div class="small-10 columns">
                <label {% if field.errors %} class="error" {% endif %}>
                  {{ search.name }}
                </label>
                {% if search.name.errors %}
                  <small class="error">
                    {% for error in search.name.errors %}
                      {{error}}</br>
                    {% endfor %}
                  </small>
                {% endif %}

              </div>

              <div class="small-2 columns">
                <input type="submit" class="button postfix" value="Chercher" />
              </div>
            </div>

        </form>
    </div>

  <div class="large-6 columns">
      <h2>Documents récents</h2>
      <ul>
        {% for doc in recent_docs %}
          <li class="nav-link">
            <a href="{% url 'document_show' doc.id %}">
              <i class="fi-page"></i> {{ doc.name }} ({{doc.course.slug}})
            </a>
            </li>
        {% endfor %}
    </ul>

  </div>
  <div class="large-6 columns">
      <h2>Mes cours</h2>
            <ul>
              {% for course in request.user.following_courses %}
                <li class="nav-link">
                  <a href="{% url 'course_show' course.slug %}">
                    <i class="fi-folder"></i> {{ course.name }}
                  </a>
                  </li>
              {% endfor %}
          </ul>
  </div>
  <div class="large-12 columns feed">
    {% with verbose=1 %}
      {% for action in stream %}
        {% include "feed_entry.html" %}
      {% empty %}
        {% if request.user.following_courses|length > 0 %}
          <p>Il n'y a encore rien dans ton flux d'actualités, attends un peu, ça arrivera&nbsp;!</p>
        {% else %}
          <p>Il n'y a encore rien dans ton flux d'actualités, il faudrait peut-être <a href="{% url 'show_courses' %}">s’abonner à un cours</a> ?</p>
          <p>En vous abonnant à un cours, il apparait dans le menu de gauche sur toutes les pages du site, et vous recevez une notification à chaque nouveau document ou sujet de discussion ajouté dans ce cours.</p>
        {% endif %}
        <span id="joy-flux"></span>
        {% for i in "xxxx" %}
          <div class="row feed-placeholder">
            <div class="large-12 columns">
              <p>
                <strong>
                    <i class="fi-cloud"></i>
                  <img src="//placehold.it/40x40" class="feed-photo"> John Doe a commenté
                </strong>
                 "Question pour l'examen" dans Bases Fondamentales (base-f-100)
                <br>
                <span class="feed-timesince">
                  Il y a 10 minutes
                </span>
              </p>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    {% endwith %}
  </div>
</div>

{% endblock %}
