{% load static %}
{% load static tailwind_tags %}
<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <title>{% block title %}DocHub - ULB{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="nav">
        <div class="logo">DocHub</div>
        <div class="dropdown">
            <span>Morti</span>
            <div class="dropdown-content">
                <a class="m-3" href="#profil">Profil</a>
                <a class="m-3" href="#mes_cours">Mes cours</a>
                <a class="m-3" href="#deco">Deconnexion</a>
            </div>
        </div>
    </div>

    <!-- Research bar -->
    <div class="absolute left-1/2 top-1/3" style="width: 50vw;margin-right: -50%;transform: translate(-50%, 0%);">
        <div class="border border-black	rounded-lg w-100 mx-auto" style="max-width: 900px;">
            <i class="fas fa-search m-2"></i>
            <input class="text-center w-11/12" type="text" name="cours" placeholder="Chercher un cours (exemple: info-f-101 ou Microeconomie)" style="border: none;">
        </div>
        <div class="border border-black	rounded-lg mx-auto mt-4 px-8 py-1 w-max">
            Chercher
        </div>
    </div>

    <!-- Cours -->
    <div class="border border-black rounded-lg absolute left-1/2 top-1/2" style="width: 50vw;height: 40vh;margin-right: -50%;transform: translate(-50%, 0%);">
    </div>
</body>

</html>