{% extends "skel.html" %}
{% load custommardown %}

{% block title %}Markdown{% endblock %}

{% block content %}

<div class="row">
  <div class="large-8 medium-12 columns">
    <h1>Markdown</h1>
    <p>DocHub utilise du Markdown dans les discussions et les descriptions des documents.</p>
    <h3>Le Markdown c'est quoi ?</h3>
    <p>
      Le Markdown est un "language" servant à formatter du texte. A la place d'avoir un texte morne et sans mise en page, grâce au Markdown vous pouvez mettre des titres, des images, des listes et encore d'autres choses dans vos textes.<br>
      <small>Vous ne voulez pas l'utiliser ? Pas de problème, faites comme si il n'existait pas, vous pouvez taper du texte normalement comme vous l'avez toujours fait.</small>
    </p>
    <p>
      <h3>Titres</h3>
      Vous pouvez écrire un titre en ajoutant le symbole <code>#</code> au début de la ligne. Au plus vous ajoutez de <code>#</code> consécutifs, au plus le titre sera petit. (Vous pouvez en ajouter 5 au maximum)<br>
      <pre class="codehilite"># Un grand titre
## Un titre un peu plus petit
##### Un très petit titre</pre>
      <h3>Citations</h3>
      Pour citer un texte, il suffit de rajouter un <code>></code> devant chaque ligne.
      <pre class="codehilite">Comme le disait Mao :
> Manger c'est tricher, mais tricher, c'est gagner.</pre>
      <h3>Gras et italique</h3>
      Vous pouvez rendre votre texte en gras ou en italique en entourant la partie concernée par des <code>*</code> (simples pour l'italique, double pour le gras).
      <pre class="codehilite">Ceci est un texte avec de l'*italique* et des **phrases en gras**</pre>
      <h3>Liens et images</h3>
      Markdown supporte aussi les liens et images.<br>
      Un lien s'écrit de la manière suivante <code>[Texte du lien](http://site-web.com)</code>.
      <pre class="codehilite">Je vous conseille fortement d'aller vérifier
vos points sur [l'université virtuelle](http://uv.ulb.ac.be)</pre>
      L'ajout d'images se fait de manière assez semblable : <code>![](http://example.com/image-a-afficher.jpg)</code>
      <pre class="codehilite">Le logo de l'ULB ressemble à ça : ![](http://www.ulb.ac.be/dre/com/docs/logo3lpbp.jpg)</pre>
      <h3>Listes</h3>
      Vous pouvez aussi ajouter des listes (à puce ou numérotées)
      <pre class="codehilite">Liste à puce :

* élément
* élément
* élément

Liste numérotée :

1. élément 1
2. élément 2
3. élément 3</pre>
    </p>
    <h1 id="memory">Aide-mémoire</h1>
    <pre class="codehilite"># Un grand titre
## Un titre un peu plus petit
##### Un très petit titre

Une citation :
> Texte à citer

Texte avec de l'*italique* et des **mots en gras**

[Texte du lien](http://site-web.com)

![](http://example.com/image-a-afficher.jpg)

Liste à puce :

* élément
* élément
* élément

Liste numérotée :

1. élément 1
2. élément 2
3. élément 3</pre>
  </div>
</div>
{% endblock %}
