{% extends "skel.html" %}
{% block content %}
<div class="row">
  <div class="large-7 columns">
    <h1>Ajouter un nouveau sujet</h1>
    <h3>Dans "{{parent.name}}"</h3>
    <form action="{% url 'thread_put' parent.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
          {% include "simple_input.html" %}
        {% endfor %}
        <p class="right-align"><input type="submit" class="button success radius" value="Envoyer" /></p>
    </form>
    {% include "markdown_small_help.html" %}
  </div>
</div>

{% endblock %}

