{% extends "skel.html" %}
{% block content %}
<h1>Ajouter un nouveau sujet</h1>
<h3>Dans "{{parent.name}}"</h3>
<div class="row">
  <div class="large-7 columns">
    <form action="{% url 'thread_put' parent.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
          {% include "simple_input.html" %}
        {% endfor %}
        <p class="right-align"><input type="submit" class="button success" value="Envoyer" /></p>
    </form>
  </div>
</div>
{% endblock %}

