{% extends "skel.html" %}
{% load humanize %}

{% comment %}
# Copyright 2012-2013, hast. All rights reserved.

# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
{% endcomment %}

{% block title %}Notifications{% endblock %}


{% block content %}
<div class="row">
  <div class="medium-6 columns">
    <h1>Notifications</h1>
    {% if notifications|length > 0 %}
      <p><a class="button success radius" href="{% url 'notif_read_all' %}">Tout marquer comme lu</a></p>
    {% endif %}
    {% if notifications %}
      <ul id="unread_notifs" class="notification-list">
        {% for notif in notifications %}
          <li class="notification-container">
            <a title="Marquer comme lu" class="notif-headless-read" data-id="{{ notif.id }}" href="#">
              <i class="fi-{{ notif.prenotif.icon }} round-icon medium"></i>
            </a>
            <!-- <button class="button tiny" notif_id="{{notif.id}}">x</button> -->
            <div class="notif-text">
              <a href="{% url 'notif_read' notif.id %}">{{ notif.prenotif.text }}</a>
              <div class="notif-date">{{ notif.prenotif.created|naturaltime|capfirst }}</div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% elif not read_notifications %}
      <p>Oh ! Vous n’avez pas encore reçu de notification, il faudrait peut-être <a href="{% url 'show_courses' %}">s’abonner à un cours</a> ?</p>
    {% else %}
      <p>Bien joué, vous avez déjà tout lu !</p>
    {% endif %}
  </div>
  {% if read_notifications %}
    <div class="medium-6 columns">
      <h1>Notifications lues</h1>
        <ul id="read_notifs" class="notification-list">
          {% for notif in read_notifications %}
            <li>
            <i class="fi-{{ notif.prenotif.icon }} round-icon medium"></i>
            <!-- <button class="button tiny" notif_id="{{notif.id}}">x</button> -->
            <div class="notif-text"> <a href="{% url 'notif_read' notif.id %}">{{ notif.prenotif.text }}</a>
            <div class="notif-date">{{ notif.prenotif.created|naturaltime|capfirst }}</div></div>
          </li>
          {% endfor %}
    </div>
  {% endif %}
</div>

<script type="text/javascript">
/* Called after a succesful AJAX "mark as read" */
var after_headless_read = function(notif_container){
  /* 1. Move notification from unread to read list */
  notif_container.remove();
  $('#read_notifs').prepend(notif_container);

  /* 2. Update notification counter */
  var notif_count = $('#unread_notifs>*').length;
  $('#notif-count-display').text(notif_count);

  /* 3. If notif count dropped to zero, reload page 
        (do not recode django template in jQuery DOM manipulations #LOL) */
  if ((0+notif_count) == 0)
    window.location.reload();
}

/* Headless read: call the "notification read" ajax endpoint */
var headless_read = function(ev){
  var clicked = $(ev.delegateTarget);
  var notif_id = clicked.attr("data-id");
  console.log("CLICK " + notif_id + " !");

  $.get("/notifications/"+notif_id+"/ajax_read", function(){
    /* Disable click handler (this notification has already been read) */
    clicked.off("click");
    after_headless_read(clicked.parent());
  });
}

$(document).ready(function(){
  /* Attach headless_read to all unread notifications */
  $('.notif-headless-read').click(headless_read);
});
</script>

{% endblock %}
