{% extends "skel.html" %}
{% load humanize %}

{% comment %}
# Copyright 2012-2013, hast. All rights reserved.

# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
{% endcomment %}

{% block header %}
<script src="/static/scripts/notifications.js"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="large-6 columns">
    <h1>Notifications</h1>
    {% if notifications|length > 1 %}
      <p><a class="button success" href="{% url 'notif_read_all' %}">Tout marquer comme lu</a></p>
    {% endif %}
    {% if notifications %}
      <ul>
        {% for notif in notifications %}
          <li>
            <i class="fi-{{ notif.prenotif.icon }}"></i>
            <button class="button tiny" notif_id="{{notif.id}}">x</button>
            <a href="{% url 'notif_read' notif.id %}">{{ notif.prenotif.text }}</a>
            {{ notif.prenotif.created|naturaltime }}
          </li>
        {% endfor %}
      </ul>
    {% elif not read_notifications %}
      <p>Oh ! Vous n'avez encore jamais eu de notification, il faudrait peut-être s'abonner à un cours ?</p>
    {% else %}
      <p>Bien joué, vous avez déjà tout lu !</p>
    {% endif %}
  </div>
  {% if read_notifications %}
    <div class="large-6 columns">
      <h1>Notifications lues</h1>
        <ul id="read_notifs">
          {% for notif in read_notifications %}
            <li>
              <a href="{% url 'notif_read' notif.id %}">{{ notif.prenotif.text }}</a>
              {{ notif.prenotif.created|naturaltime }}
            </li>
          {% endfor %}
    </div>
  {% endif %}
</div>

{% endblock %}
