{%load humanize %}
{% load compress %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}DocHub{% endblock %}</title>
    {% compress css %}
      <link rel="stylesheet" href="/static/3party/css/foundation.css" />
      <link rel="stylesheet" href="/static/3party/foundation-icons/foundation-icons.css" />
      <link rel="stylesheet" href="/static/style/main.css" />
    {% endcompress %}
<meta property="og:title" content="DocHub" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://dochub.be/static/images/facebook_cover.png" />
<meta property="og:url" content="http://dochub.be" />
<meta property="og:description" content="DocHub vous permet de poser des questions aux autres étudiants, échanger vos notes, vos résumés, d'anciens examens et bien plus encore. " />
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />
    {% compress js %}
      <script src="/static/3party/js/vendor/modernizr.js"></script>
    {% endcompress %}

    {% block header %}
    {% endblock %}
  </head>
  <body>
    <div class="sticky">
    <nav class="top-bar" data-topbar="">
        <ul class="title-area">
            <li class="name">
               <h1><a href="/">P402 - DocHub</a></h1>
            </li>
        </ul>

        <section class="top-bar-section">
            <ul class="left">
              <li class="divider"></li>
            </ul>
        </section>
    </nav>
    </div>
    <div class="row">
      {% block content %}
        <div class="medium-7 small-12 columns small-centered">
          <br>
          <img src="/static/images/evolution.png">
          <h1 class="text-center">P402 s'améliore !</h1>
          <p class="text-center">
            Bienvenue sur DocHub, le successeur de p402 !<br>
            <small>(DocHub est créé, maintenu et développé par la même équipe que p402, rien ne change de ce côté là !
            Nous avons aussi importé tous les anciens documents, vous ne perdez donc rien.)</small><br>
          </p>
          <p>
            DocHub vous permet de poser des questions aux autres étudiants, échanger vos notes, vos résumés, d'anciens examens et bien plus encore.
          </p>
          <p class="text-center">
            Vous n'avez pas besoin de créer un compte, il suffit d'employer votre netid.<br><br>
            <a href="{{login_url}}" id="login_link" class="button success expand">Connexion</a></strong><br>
          </p>
          <p>
          <i class="fi-page-copy"></i>
          DocHub, c'est actuellement plus de {{documents}} documents contenant plus de {{pages}} pages
          {% if users >= 20%}
            ajoutées par plus de {{users}} utilisateurs
          {%endif%}
          .<br>
          {% if threads >= 20 %}
           <i class="fi-comment"></i> Sur DocHub, vous pouvez poser des questions et les autres étudiants peuvent y répondre. Il y a déjà eu plus de {{threads}} questions posées.
          {% endif %}
          </p>
        </div>
      {% endblock %}
    </div>
    <footer>
      <br>
    </footer>
    {% compress js %}
      <script src="/static/3party/js/vendor/jquery.js"></script>
      <script src="/static/3party/js/foundation.min.js"></script>
      <script>
        $(document).foundation();
      </script>
    {% endcompress %}
    {% block script %}
    {% endblock %}
  </body>
</html>
