{% extends "skel.html" %}
{% block title %}Profil{% endblock %}
{% block content %}
<div class="row">
  <div class="medium-12 columns">
    <h1>Préférences</h1>
  </div>
</div>
<div class="row">
  {% if messages %}
    <div class="large-12 columns">
      <div data-alert class="alert-box success radius">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  {% endif %}
</div>
<div class="row">
  <div class="medium-6 columns">
    <h2><i class="fi-torso"></i> Profil</h2>
    <p>
      Votre profil n’est accessible qu’aux membres de l’ULB connectés à DocHub.<br>
    </p>

    <form action="" method="post" enctype="multipart/form-data" class="dropzone">
      {% csrf_token %}
      {{ form.non_field_errors }}
      Photo de profil<br>
      <img src="{{user.get_photo}}" class="user-photo">
      {% with form.profile_pic as field %}
        {% include "simple_input.html" %}
      {% endwith %}
      <input type="submit" class="button success radius small" value="Changer ma photo" />
    </form>
    <p>
      <small>Votre nom ou prénom est incorrect ? Envoyez-nous un <a href="mailto:p402@cerkinfo.be">mail</a>, on corrige ça tout de suite !</small>
    </p>
  </div>
  <div class="medium-6 columns">
    <h2><i class="fi-widget"></i> Préférences</h2>
    <p>
      Changez ces options pour rendre DocHub plus à votre goût.
    </p>
    <p>
      <small>Bientôt…</small>
    </p>
  </div>
</div>


{% endblock %}
