{%load humanize %}
{% load cache %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DocHub</title>
    <link rel="stylesheet" href="/static/foundation/css/foundation.css" />
    <link rel="stylesheet" href="/static/style/foundation.css" />
    <script src="/static/foundation/js/vendor/modernizr.js"></script>
  </head>
  <body>

    <nav class="top-bar" data-topbar="">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">DocHub</a></h1>
            </li>

            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="left">
                <li>
                  {% if notifcount %}
                    <a href="#" class="button [secondary success alert]">{{ notifcount }}</a>
                  {% else %}
                    <a href="#" class="button [secondary success]">0</a>
                  {% endif %}
                </li>
                <li class="divider"></li>
                <li><a href="#">Cours</a></li>
                <li><a href="#">Calendrier</a></li>
            </ul>
            <ul class="right">

                <li class="has-dropdown">
                    <a href="#">Nikita Marchant</a>

                    <ul class="dropdown">
                        <li><a href="#">Profil</a></li>
                        <li><a href="#">Notifications</a></li>
                        <li><a href="#">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>

        </section>
    </nav>
    <div class="row full-width">
      <div class="hide-for-small-only large-2 medium-3 columns sidebar">


        <ul class="side-nav">
          <li class="">Mes cours</li>
          {% cache 120 user_followed_list user.netid %}
          {% for course in user.followed_courses %}
            <li>
              <a href="{% url 'node_canonic' course.id %}">
                {{ course.name }}
              </a>
            </li>
          {% endfor %}
          {% endcache %}
        </ul>

      </div>
      <div class="large-10 medium-9 columns">
        <div class="row">
          <div class="large-12 columns">
            <h1>Bienvenue sur DocHub</h1>
          </div>
        </div>
        <div class="row">
          <div class="large-8 columns">
<!--             {% for elem in wall %}
              <div>{{ elem.text }}</div>
            {% endfor %} -->
            {% for elem in wall %}
            <!-- Feed Entry -->
            <div class="row">
              <div class="small-3 large-2 columns "><img src="http://placehold.it/80x80&text=[img]" /></div>
              <div class="small-9 large-10 columns">
                <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
                <ul class="inline-list">
                  <li><a href="">Reply</a></li>
                  <li><a href="">Share</a></li>
                </ul>
              </div>
            </div>
            {% endfor %}
            <!-- End Feed Entry -->
          </div>
        </div>
      </div>

    <script src="/static/foundation/js/vendor/jquery.js"></script>
    <script src="/static/foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
