{% load humanize %}
<table class="sortable">
  <thead>
    <tr>
      <th style="min-width: 200px">Titre</th>
      <th>Par</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% if object.thread_set %}
      {% for thread in object.thread_set %}
        <tr>
          <td><a href="{% url 'thread_show' thread.id %}">{{ thread.name }}</a></td>
          <td>{{ thread.user.name }}</td>
          <td>{{ thread.created|naturaltime }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="3">
          Il n'y a pas de discussions ici...<br>Et si vous <a href="#">postiez quelque chose ?</a>
        </td>
      </td>
    {% endif %}


  </tbody>
</table>