{% extends "skel.html" %}
{% load humanize %}
{% load custommardown %}


{% comment %}
# Copyright 2012, hast. All rights reserved.

# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
{% endcomment %}

{% block header %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endblock %}

{% block content %}
<h1>{{ object.name }}</h1>

<table class="messages">
{% for message in object.message_set.all %}
<tr class="message">
  <td class="message-left">
    <img class="small-profile" src="{{ message.user.get_photo }}">
    <strong>{{ message.user.name }}</strong><br>
    {{ message.created|naturaltime }}<br>

  </td>
  <td class="message-right">
    {{ message.text|markdown }}
  </td>
</tr>
{% endfor %}
<tr class="message">
  <td class="message-left">
    <img class="small-profile" src="{{ user.get_photo }}">
    <strong>You</strong>
  </td>
  <td class="message-right">
    <form class="message-form" action="{% url 'thread_reply' %}" method="post">
      {% csrf_token %}
      {{ reply_form.as_p }}
      <input class="panel-button" type="submit" value="Reply"/>
    </form>
  </td>
</tr>
</table>



{% endblock %}
