{% extends "skel.html" %}
{% load cache %}

{% comment %}
# Copyright 2012, hast. All rights reserved.

# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
{% endcomment %}

{% block header %}
<link rel="stylesheet" href="/static/style/viewer.css" />
{% endblock %}

{% block script %}
<script src="/static/scripts/viewer.js"></script>

{% cache 1 viewer.js object.id %}
<!-- Added for each discussion on a page -->
<div id="discussion-list-item-template" style="display: none;">
  <li>
    <a href="[[href]]">[[name]]</a>
  </li>
</div>

<script language="JavaScript">
var viewer_instance = viewer({
    len: {{ object.pages }},
    id: {{ object.id }},
    parentid: '{{ parent.id }}',
    pages: [
    {% for page in page_set %}
      {
        numero: {{ page.numero }},
        height_600: {{ page.bitmap_600.height }},
        height_900: {{ page.bitmap_900.height }},
        url_120: '{{ page.bitmap_120.url }}',
        url_600: '{{ page.bitmap_600.url }}',
        url_900: '{{ page.bitmap_900.url }}',
      },
    {% endfor %}
    ]
});

var discussions = [
  {% for thread in threads %}
  {% if thread.placement %}
  {
    "name": "{{ thread.name }}",
    "href": "{% url 'thread_show' thread.id %}",
    "placement": {% autoescape off %}{{ thread.placement }}{% endautoescape %},
  },
  {% endif %}
  {% endfor %}
];

var render_template = function(template, context){
  for (key in context){
    template = template.replace('[[' + key + ']]', context[key]);
  }
  return template;
};

var insert_discussions = function(){
  var tpl = $('#discussion-list-item-template').html();
  for (var i=0; i<discussions.length; i++){
    var disc = discussions[i];
    var page = disc.placement['page-no'];

    if (page != undefined){
      $('#discussions-list-' + page).append(render_template(tpl, disc));
      $('#discussions-label-' + page).removeClass("secondary");
    }
  }
};

$(document).ready(function(){
  insert_discussions();

  /* Click page -> popup new discussion form */
  $('.add-page-comment').click(function(ev){
    var page_no = parseInt($(ev.delegateTarget).attr("data-id"));
    $('#page-comment-form').find('input[name=page-no]').attr("value", page_no);
    $('#page-comment-form').find('.page-no').html(page_no+1);
  });

  /* Click form close */
  $('#page-comment-form-close').click(function(ev){
    $('#page-comment-form').foundation('reveal', 'close');
    return false;
  });
});
</script>

{% endcache %}
{% endblock %}
{% block title %}{{ object.name }}{% endblock %}
{% block full-page %}
{% include "viewer_bar.html" %}
<div class="row">
{% cache 86400 viewer.html object.id %}
  <div id="thumbs-misere"></div>
  <div id="thumbs" class="medium-2 columns show-for-medium-up">
    {% for page in page_set %}
      <div class="row">
        <div class="large-12 columns">
          <img id="thumb-{{ page.numero }}" class="thumb" data-num="{{ page.numero }}"
            src="/static/images/white.png" width="120" height="{{ page.bitmap_120.height }}"/>
          <p>{{ page.numero|add:1 }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div id="pages" class="medium-10 small-12 columns">
    {% for page in page_set %}
      <div class="row">
        <div class="medium-2 columns">
          <div class="row" style="padding-top: 30px;">
            <div class="label secondary" id="discussions-label-{{ page.numero }}">
              <i class="fi-comment"></i>
              <strong>Discussions sur cette page</strong>
            </div>
          </div>
          <div class="row">
            <ul id="discussions-list-{{ page.numero }}"></ul>
          </div>
        </div>
        <div class="medium-10 columns">
          <a href="#page-{{ page.numero }}"
             class="add-page-comment"
             data-reveal-id="page-comment-form"
             data-id="{{ page.numero }}"
             title="Discutez de cette page...">
            <img id="page-{{ page.numero }}"
                 class="page" src="/static/images/white.png"
                 width="600" height="{{ page.bitmap_600.height }}"/>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endcache %}
</div>


<div id="page-comment-form" class="reveal-modal" data-reveal>
  <div class="row">
    <div class="columns small-1">
      <i class="fi-comment round-icon big"></i>
    </div>
    <div class="columns small-10">
      <h3>
        Nouvelle discussion sur la page
        <span class="page-no"></span>
      </h3>
      <p>
        {{ object.name }}
      </p>
    </div>
    <div class="columns small-1">
      <a href="#" id="page-comment-form-close">
        <i class="fi-x round-icon big"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <form method="POST" action="{% url "thread_put" object.id %}">
      {% csrf_token %}
      {% for field in form %}
        {% include "simple_input.html" %}
      {% endfor %}
      <input type="hidden" name="page-no" value=""/>
      <p class="text-right">
        <input type="submit" class="button success radius" value="Créer" />
      </p>
    </form>
  </div>
</div>
{% endblock %}
