{% extends "skel.html" %}

{% comment %}
# Copyright 2012, hast. All rights reserved.

# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
{% endcomment %}

{% block header %}
<link rel="stylesheet" href="/static/style/viewer.css" />
{% endblock %}

{% block script %}
<script src="/static/scripts/viewer.js"></script>
<script language="JavaScript">
var doc = {
    len: {{ object.pages }},
    id: {{ object.id }},
    parentid: '{{ parent.id }}',
    pages: {
    {% for page in page_set %}
      {{ page.numero }} : {
        numero: {{ page.numero }},
        height_600: {{ page.bitmap_600.height }},
        height_900: {{ page.bitmap_900.height }},
        url_120: '{{ page.bitmap_120.url }}',
        url_600: '{{ page.bitmap_600.url }}',
        url_900: '{{ page.bitmap_900.url }}',
      },
    {% endfor %}
    },
};

var viewer_instance = viewer(doc);
</script>
{% endblock %}
{% block title %}{{ object.name }}{% endblock %}
{% block full-page %}
{% include "viewer_bar.html" %}
<div class="row">
  <div id="thumbs-misere"></div>
  <div id="thumbs" class="medium-2 columns show-for-medium-up">
    {% for page in page_set %}
      <div class="row">
        <div class="large-12 columns">
          <img id="thumb-{{ page.numero }}" class="thumb" data-num="{{ page.numero }}"
            src="/static/images/white.png" width="120" height="{{ page.bitmap_120.height }}"/>
          <p>{{ page.numero|add:1 }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div id="pages" class="medium-10 small-12 columns">
    {% for page in page_set %}
      <div class="row">
        <div class="large-12 columns">
          <img id="page-{{ page.numero }}" class="page" src="/static/images/white.png"
          width="600" height="{{ page.bitmap_600.height }}"/>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
