<div class="sticky">
  <nav class="top-bar contain-to-grid viewer-bar" data-topbar>
    <ul class="title-area">
      <li class="name"></li>
      <li class="toggle-topbar menu-icon">
        <a href="#">Viewer</a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li>
          <a href="{% url 'course_show' parent.id %}"><i class="fi-arrow-left"></i> {{ parent.name }}</a>
        </li>
        <li>
          <a href="{% url 'document_download' object.id %}"><i class="fi-archive"></i> Télécharger</a>
        </li>
        {% if object.staticfile != object.pdf %}
          <li>
            <a href="{% url 'document_download_original' object.id %}">
              <i class="fi-archive"></i> Télécharger (original)
            </a>
          </li>
        {% endif %}
        <li>
        </li>
        <li class="divider viewer-title"></li>
        <li class="viewer-title">
          <i class="fi-book"></i> {{ object.name }}
        </li>
      </ul>
      <ul class="right">
        <li>
          <a id="zoom-in"><i class="fi-zoom-in"></i> Zoom</a>
        </li>
        <li>
          <a id="zoom-out"><i class="fi-zoom-out"></i> De-zoom</a>
        </li>
        {% if is_moderator or user.netid == object.user.netid %}
          <li class="has-dropdown">
            <a href="#"><i class="fi-widget"></i></a>
            <ul class="dropdown">
              <li><a href="{% url 'document_edit' object.id %}">Editer</a></li>
              <li><a href="#">Supprimer</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </section>
  </nav>
</div>