<br>
<div class="row">
<div class="large-10 columns">
  <div class="panel">
    <div class="row">
      <div class="small-11 columns">
        <h3>Vous semblez nouveau !</h3>
      </div>
      <div class="small-1 columns text-right">
        <a href="{% url "hide_new_panel" %}"><i class="fi-x"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns" id="firstStop">
        <p>
          Bienvenue sur DocHub, le site de partage de documents et d’entraide étudiante à l’ULB.<br>
          DocHub vous permet de poser des questions aux autres étudiants, échanger vos notes et bien plus encore.
        </p>
          <button onclick="javascript:$(document).foundation('joyride', 'start');">Visite guidée</button>
      </div>
    </div>
  </div>
</div>
</div>



<ol class="joyride-list" data-joyride>
  <li data-id="joy-abonner" data-text="Suivant" data-options="prev_button: false">
    <p>Vous pouvez vous abonner à des cours. Ceux-ci apparaitront dans le menu ci-dessous.</p>
  </li>
  <li data-id="notifications-button" data-text="Suivant" data-options="tip_location:top; prev_button: false">
    <p>Vous recevrez des notifications pour les cours que vous suivez.</p>
  </li>
  <li data-id="joy-flux" data-text="Suivant" data-options="tip_location:top; prev_button: false">
    <p>Vous pouvez aussi suivre l'actualité dans le flux qui apparaitra ici.</p>
  </li>
  <li data-button="Fermer" data-options="tip_location:top; prev_button: false">
    <h4>Bienvenue sur DocHub !</h4>
    <p>DocHub vous souhaite une belle réussite !</p>
  </li>
</ol>
