/* General css */
h1,h2,h3,h4,h5,h6 {
    font-family: Titillium Web;
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
    margin:0;
}

button,select,a {
    text-transform: none;
    text-decoration: none;
}


/* Navbar  */
.nav {
    display: grid;

    width: 100%;
    height: 50px;
    top: 0px;
    grid-template-columns: 20% 60% 20%;
}


.logo {
    display: inline-grid;
    grid-column-start: 1;

    justify-content: center;
    align-items: center;
        
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}


.dropdown {
    display: inline-grid;
    grid-column-start: 3;

    justify-content: center;
    align-items: center;
}

.dropdown span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
}

.dropdown-content {
    display: none;

    position: absolute;
    width: min-content;
    height: max-content;
    left: 87%;
    top: 5%;
    background-color: #f9f9f9;
    z-index: 1;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
}

.dropdown-content a {
    font-family: Roboto;
    font-size: 1em;
    text-align: center;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Course filter */
.button {
    padding: 0.5em;
    border-radius: 5px;
    margin: 5px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.green{
    background-color: #43AC6A;
    color: white;
}

.blue{
    background-color: #50BEEC;
    color: white;
}


/* Course content */
.deck{
    margin-top: 1em;
    margin-left: 5vw;
    display: grid; 
    grid-auto-rows: auto;
    row-gap: 20px;
    height:87vh;
    overflow-y: scroll;
}

.card{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1em;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
}

.card-like{
    grid-column-start: 1;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.card-like i{
    font-size: 24px;
    margin: auto;
}

.card-content{
    grid-column-start: 2;
}

.card-title a{
    color: #008CBA;
    font-size: 22px;
    line-height: 33px;
}

.card-comment span{
    margin-left: 1rem;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}

.card-footers span{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.card-footers i{
    font-size: 16px;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.tags {
    margin-left: 6em; 
    display: inline-block;
}

.tags span {
    display:block; 
    width: 4em; 
    text-align:center; 
    border-radius: 5px; 
    font-size: 14px;
    line-height: 21px;
}

.delimiter { 
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 75%;
    margin: auto;
}

.aside {
    display:grid;
    grid-auto-rows: max-content max-content 1fr;
    row-gap: 20px;
    grid-column-start: 4;
    margin-top: .5em;
}

.ck-button {
    border-radius:5px;
    overflow:auto;
    display: inline-block;
}

.ck-button label {
    display: block;
    width:4.0em;
    filter: brightness(50%);
}

.ck-button label span {
    text-align:center;
    display:block;
    color: white;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.ck-button input {
    position:absolute;
    top:-20px;
}

.ck-button input:checked + label {
    filter: brightness(100%);
}

.ck-button input:hover + label {
    filter: brightness(90%);
}


/* Home page */
.button-search {
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: max-content;
}