/* General css */
h1,h2,h3,h4,h5,h6,p {
    font-family: Titillium Web;
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
    margin:0;
}

button,select,a {
    text-transform: none;
    text-decoration: none;
    color: black;
}

html {
    background-color: white;
}

/* Navbar  */
.nav {
    display: grid;

    width: 100%;
    height: 50px;
    top: 0px;
    grid-template-columns: 20% 60% 20%;
}


.logo {
    display: inline-grid;
    grid-column-start: 1;

    justify-content: center;
    align-items: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}


.dropdown {
    display: inline-grid;
    grid-column-start: 3;

    justify-content: center;
    align-items: center;
}

.dropdown span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
}

.dropdown-content {
    display: none;
    position: absolute;
    height: max-content;
    background-color: white;
    z-index: 1;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
}

.dropdown-content a {
    font-family: Roboto;
    font-size: 1em;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.dropdown-content a:hover {
    color: #008CBA;
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* footer */
.footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
}

.footer a{
    color: #008CBA;
}

/* Course filter */
.button {
    padding: 0.5em;
    border-radius: 5px;
    margin: 5px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.green{
    background-color: #43AC6A;
    color: white;
}

.blue{
    background-color: #50BEEC;
    color: white;
}

.red {
    background-color: #9e1d1d;
    color: white;
}

/* Course content */
.deck{
    margin-top: 1em;
    margin-left: 5vw;
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 20px;
    height:82vh;
    overflow-y: scroll;
}

.card{
    display: grid;
    grid-template-columns: 5% 1fr;
    column-gap: 1em;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    height: max-content;
}

.card-like{
    grid-column-start: 1;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.card-like i{
    font-size: 24px;
}

.card-like a{
    margin: auto;
}

.like:hover i {
    color: #43AC6A;
}

.dislike:hover i{
    color: #9e1d1d;
}

.like:active i,.dislike:active i {
    margin: auto;
    transform: scale(1.2);
}

.card-content{
    grid-column-start: 2;
}

.card-title a{
    color: #008CBA;
    font-size: 22px;
    line-height: 33px;
}

.card-comment span{
    margin-left: 1rem;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}

.card-footers span{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.card-footers i{
    font-size: 16px;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.tags {
    margin-left: 6em;
    display: inline-block;
}

.tags span {
    display:inline-block;
    width: 4em;
    text-align:center;
    border-radius: 5px;
    font-size: 14px;
    line-height: 21px;
    margin-right: 0.25rem;
}

.delimiter {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    height: max-content;
}

.aside {
    display:grid;
    grid-auto-rows: max-content max-content 1fr;
    row-gap: 20px;
    grid-column-start: 4;
    margin-top: .5em;
}

.ck-button {
    border-radius:5px;
    overflow:auto;
    display: inline-block;
}

.ck-button label {
    display: block;
    width:4.0em;
    filter: brightness(50%);
}

.ck-button label span {
    text-align:center;
    display:block;
    color: white;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.ck-button input {
    position:absolute;
    top:-20px;
}

.ck-button input:checked + label {
    filter: brightness(100%);
}

.ck-button input:hover + label {
    filter: brightness(85%);
}


/* Home page */
.button-search {
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: max-content;
}


/* Course upload */
.content {
    display: grid;
    grid-template-columns: 1fr 75% 1fr;
}

.content p {
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 1em;
    text-rendering: optimizeLegibility;
}

.form-input {
    width: 100%;
    padding: 5px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    border-width: 1px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.file-upload::file-selector-button {
    border: 1px solid #0d6efd;
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.5em;
    padding: .2em .4em;
    border-radius: .2em;
    color: #0d6efd;
    background-color: white;
    transition: 0.5s;
}

.file-upload::file-selector-button:hover {
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    color: white;
}

/* Stimulus */

.filter--filtered {
  display: none;
}
