{% extends "skel.html" %}
{% block title %}Profil{% endblock %}
{% block content %}
<div class="row">
  <div class="medium-12 columns">
    <h1>Préférences</h1>
    <h3><small>Ta photo de profil n’est accessible qu’aux membres de l’ULB connectés à DocHub, le reste de ton profil est privé.</small></h3>
  </div>
</div>
<div class="row">
  {% if messages %}
    <div class="large-12 columns">
      <div data-alert class="alert-box success radius">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  {% endif %}
</div>
<div class="row">
  <div class="medium-6 columns">
    <h2><i class="fi-widget"></i> Préférences</h2>
    <form action="" method="post" enctype="multipart/form-data" class="dropzone">
      {% csrf_token %}
      {{ form.non_field_errors }}
      Photo de profil<br>
      <img src="{{user.get_photo}}" class="user-photo">
      {% with form.profile_pic as field %}
        {% include "simple_input.html" %}
      {% endwith %}
      <input type="submit" class="button success radius small" value="Changer ma photo" />
    </form>
    <p>
      <small>Ton nom ou prénom est incorrect ? Envoie-nous un <a href="mailto:p402@cerkinfo.be">mail</a>, on corrige ça tout de suite !</small>
    </p>
  </div>
  <div class="medium-6 columns">
    <h2><i class="fi-list"></i> Activité</h2>
    {% with verbose=0 %}
      {% for action in stream %}
        {% include "feed_entry.html" %}
      {% empty %}
      <p>Vous n'avez encore effectué aucune action</p>
      {% endfor %}
    {% endwith %}
  </div>
</div>
<div class="row">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <div class="medium-6 columns">
    <h3><i class="fi-key"></i>Token d'accès à l'API</h3>
    <input type="text" id="foo" disabled value="{{token.key}}">

    <a href="#" data-reveal-id="myModal"><small>
        <i class="fi-info"></i>
        Exemples d'utilisation
    </small></a> -
    <a href="{% url "reset_token" %}"><small>
        <i class="fi-refresh"></i>
        Supprimer cette clé et générer une nouvelle
    </small></a>

    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Utilisation de l'API</h2>
      <p class="lead">Utilisation avec CURL</p>
      <p>
          <pre>
curl -X GET https://dochub.be/api/ -H 'Authorization: Token {{token.key}}'
          </pre>
      </p>
      <p class="lead">Ou requests</p>
      <p>
          <pre>
import requests
headers = {'Authorization': 'Token {{token.key}}'}
response = request.get("https://dochub.be/api/", headers=headers)
print(response.json())
          </pre>
      </p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>


  </div>
</div>


{% endblock %}
