<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<input id="course-autocomplete-input" name="cours" placeholder="Chercher un cours (exemple: info-f-101 ou Microeconomie)"
    style="border: none;text-align: center;width: 91.666667%;outline: none;">

<script>
    $(function() {
        $("#course-autocomplete-input").autocomplete({
            source: "{% url 'course-autocomplete' %}",
            focus: function(event, ui) {
                $("#course-autocomplete-input").val(
                    ui.item.slug + " " + ui.item.name
                );
                return false;
            },
            select: function( event, ui ) {
                window.location = ui.item.url;
                return false;
            }
        }).autocomplete("instance")._renderItem = function(ul, item) {
            return $("<li>")
                .append("<span><span class='label'>" + item.slug + "</span> " + item.name + "</span>")
                .appendTo(ul);
        };
    });

</script>
