{% extends "base.html" %}

{% block title %}Ré-uploader {{ document.name }}{% endblock %}

{% block content %}
    <a href="{% url "catalog:course_show" course %}"
       class="text-reset text-decoration-none d-flex align-items-center gap-1">
        {% include "icons/bi-arrow-left.html" with size=20 class="hover-translate" %}
        <span class="hover-underline">{{ course.slug|upper }} {{ course.name }}</span>
    </a>
    <div class="alert alert-success mt-2 d-flex align-items-center gap-2" role="alert">
        {% include "icons/bi-cloud-upload.html" with size=20 %}
        <div>
            Merci ! Ton lien a bien été reçu par DocHub. Il se pourrait que les documents prennent plusieurs jours
            avant d'apparaitre sur le cours.<br/> Tu recevras un email une fois que c'est le cas !
        </div>
    </div>

    <a class="btn btn-primary" href="{% url "catalog:course_show" course %}">Retour au cours</a>
{% endblock content %}
