{% extends "base.html" %}
{% block title %}Éditer {{ doc.name }}{% endblock %}

{% block head %}
    <link href="https://cdn.skypack.dev/tom-select/dist/css/tom-select.bootstrap5.min.css"
        rel="stylesheet" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <form action="{% url 'document_edit' doc.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
            <label for="name" class="form-label">Titre du document</label>
            {{ form.name }}
            <div class="form-text">
                Essaye de rendre le titre clair pour que d'autres puissent trouver ton document.
            </div>
        </div>
        <div class="mb-3">
            <label for="id_tags" class="form-label">Tags</label>
            {{ form.tags }}
            <div class="form-text">
                Sélectionne si possible les tags qui correspondent à ton document.
            </div>
        </div>
        <div class="mb-3">
            <label for="added" class="form-label">Ajouté par</label>

            <input type="input" class="form-control" id="added" value="{{ doc.user}}" disabled>
        </div>

        <input type="submit" class="btn btn-success" value="Mettre à jour"/>
    </form>

{% endblock %}
