{% extends "base.html" %}
{% load permissions %}

{% block title %}{{ document.name }}{% endblock %}

{% block header %}


    <div class="container-xl py-3 border-bottom bg-light">
        <a href="{% url "catalog:course_show" document.course %}"
           class="text-reset text-decoration-none d-flex align-items-center gap-1 mb-1">
            {% include "icons/bi-arrow-left.html" with size=20 class="hover-translate" %}
            <span class="hover-underline">{{ document.course.slug|upper }} {{ document.course.name }}</span>
        </a>

        <h1 class="fs-4 mb-0 d-flex align-items-center gap-1">
            {{ document.name }}
            {% if document.staff_pick %}
                {% include "icons/bi-patch-check-fill.html" with class="text-primary" title="Staff pick" %}
            {% endif %}
        </h1>
        <div class="fw-light" style="font-size: .7em">
            Ajouté par {{ document.user.fullname }} |
            {{ document.date|date:"F Y"|capfirst }}
        </div>

        <div class="d-sm-flex gap-2 align-items-center">
            <div class="mt-2  d-flex gap-2 align-items-center">
                {% if document.state == "DONE" and not document.is_unconvertible %}
                    <a class="btn btn-primary btn-sm d-inline-flex align-items-center gap-1" data-turbo="false"
                       href="{% url 'document_pdf' document.pk %}">
                        {% include "icons/bi-download.html" %}
                        Téléchager (.pdf)
                    </a>
                {% endif %}
                {% if document.file_type != '.pdf' %}
                    <a class="btn btn-outline-primary btn-sm d-inline-flex align-items-center gap-1" data-turbo="false"
                       href="{% url 'document_original' document.pk %}">
                        {% include "icons/bi-download.html" %}
                        Téléchager ({{ document.file_type }})
                    </a>
                {% endif %}
                {% if request.user|has_write_perm_on:document %}
                    <a class="btn btn-outline-secondary btn-sm d-inline-flex align-items-center gap-1"
                       href="{% url 'document_edit' document.pk %}">
                        {% include "icons/bi-pencil.html" %}
                        Modifier
                    </a>
                {% endif %}

                <button data-controller="share" data-share-url="{{ document.get_absolute_url }}"
                        data-action="click->share#share"
                        class="d-none btn btn-outline-secondary btn-sm d-inline-flex align-items-center gap-1"
                        style="height: 2.2em">
                    {% include "icons/bi-box-arrow-up.html" %}
                </button>
            </div>
            <div class="flex-grow-1"></div>
            <turbo-frame id="vote">
                <form
                    class="mt-2  d-flex gap-2 align-items-center"
                    action="{% url "document_vote" document.pk %}"
                    method="POST"
                >
                    {% csrf_token %}
                    <span>Utile ?</span>
                    <button
                        class="btn {% if user_vote.vote_type == 'up' %}btn-success{% else %}btn-outline-success{% endif %} btn-sm d-inline-flex align-items-center gap-1"
                        name="vote_type" value="up"
                    >
                        {% if user_vote.vote_type == 'up' %}
                            {% include "icons/bi-hand-thumbs-up-fill.html" with class="hover-rotate" %}
                        {% else %}
                            {% include "icons/bi-hand-thumbs-up.html" with class="hover-rotate" %}
                        {% endif %}
                    </button>
                    <button
                        class="btn {% if user_vote.vote_type == 'down' %}btn-danger{% else %}btn-outline-danger{% endif %} btn-sm d-inline-flex align-items-center gap-1"
                        name="vote_type" value="down"
                    >
                        {% if user_vote.vote_type == 'down' %}
                            {% include "icons/bi-hand-thumbs-down-fill.html" with class="hover-rotate-opposite" %}
                        {% else %}
                            {% include "icons/bi-hand-thumbs-down.html" with class="hover-rotate-opposite" %}
                        {% endif %}
                    </button>
                </form>
            </turbo-frame>
            <a href="{% url 'document_report' document.pk %}" title="Signaler" data-controller="modal-trigger"
               data-modal-trigger-target-value="reportDialog"
               data-action="click->modal-trigger#open"
               class="mt-2 btn btn-outline-warning btn-sm d-inline-flex align-items-center gap-1">
                {% include "icons/bi-flag.html" %}
            </a>
        </div>

    </div>
{% endblock header %}

{% block content %}
    {% if document.is_unconvertible %}
        <div class="alert alert-primary" role="alert">
            DocHub ne sait pas générer d'aperçu pour ce document.
            Mais tu peux le
            <a href="{% url 'document_original' document.pk %}">télécharger</a>
            et l'ouvrir directement chez toi.
        </div>
    {% elif document.state == "DONE" %}
        <div class="container-xl" data-controller="viewer"
             data-viewer-src-value="{% url 'document_pdf' document.pk %}?embed">
            <div data-viewer-target="sidebar">


            </div>
            <div class="main text-center">
                <div class="loader">
                    <div class="text text-muted">Chargement en cours...</div>
                    <progress data-viewer-target="loader" max="100" value="0"></progress>
                </div>
                <div class="error">
                    <div class="alert alert-danger" role="alert">
                        Oups ! Nous n'avons pas réussi à afficher l'apercu du document dans ton navigateur.
                        Mais tu peux <a href="{% url 'document_pdf' document.pk %}">télécharger
                            le pdf</a> si tu le désires.
                    </div>
                </div>
                <div data-viewer-target="renderer"></div>
            </div>


        </div>
    {% elif document.state == "ERROR" %}

        <div class="alert alert-primary" role="alert">
            Ce document n'a pas pu être traité par DocHub à cause d'une erreur.
            Mais tu peux <a href="{% url 'document_original' document.pk %}">télécharger
                la version originale </a> si tu le désires.
        </div>
    {% else %}
        <div class="alert alert-primary" role="alert">
            Ce document est en cours de traitement par DocHub et il n'est donc pas encore
            possible d'en avoir un aperçu.
            Mais tu peux <a href="{% url 'document_original' document.pk %}">télécharger
                la version originale</a> si tu le désires.

        </div>

    {% endif %}

    {% include "documents/document_report.html#report_modal" %}
{% endblock content %}
