{% extends "base.html" %}
{% load cache %}
{% load has_perm_on %}

{% block title %}{{ document.name }}{% endblock %}

<!-- FIXME: check for other states (error) -->
{% if document.state != "DONE" %}
    {% block content %}
        <p>
            Ce document est en cours de traitement par DocHub et il n'est donc pas encore
            possible d'en avoir un aperçu.
            <!-- FIXME: do not hardcode url -->
            Mais tu peux <a href="/api/documents/{{ document.pk }}/original">télécharger
            la version originale </a> si tu le désires.
        </p>
    {% endblock %}
{% else %}
    {% block fullpage %}
        <!-- FIXME: do not hardcode url -->
        <div data-controller="viewer" data-viewer-src-value="/api/documents/{{ document.pk }}/pdf/?embed">
            <div data-viewer-target="sidebar">S</div>

                <div data-viewer-target="renderer">
                    <!-- <div class="loader" >
                        LOADING<br>
                        <progress data-viewer-target="loader" max="100" value="0"></progress>
                    </div> -->
                </div>
        </div>
    {% endblock %}
{% endif %}
