{% extends "skel.html" %}
{% load humanize %}

{% block title %}{{ category.name }}{% endblock %}
{% block content %}

<div class="row">
  <div class="medium-12 columns">
    <h1>{{ category.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <ul class="breadcrumbs">
      {% for parent in category.get_ancestors %}
        <li>
          <a href="{% url "category_show" parent.id %}">{{ parent.name }}</a>
        </li>
      {% endfor %}
      <li class="current">
        <a href="#">{{ category.name }}</a>
      </li>
    </ul>
  </div>
  <br>
  {% if category.course_set.all %}
    <div class="large-6 medium-12 columns">
      <h3>Cours
        {% if follow_children %}
          <a class="follow-all tiny button radius success right" href="{% url 'follow_node_children' category.id %}">
            S'abonner à tous les cours de cette catégorie
          </a>
        {% endif %}
      </h3>
      <ul class="course-list">
        {% with request.user.following_courses as user_followed_courses %}
          {% for course in category.course_set.all %}
          <li>
            <h6>
              {% if course in user_followed_courses %}
                <a href="{% url "leave_course" course.slug %}?next={% url "category_show" category.id %}"
                   class="course-label radius success label toggle-follow"
                   title="Se désabonner du cours">
                  {{ course.slug }}
                </a>
              {% else %}
                <a href="{% url "join_course" course.slug %}?next={% url "category_show" category.id %}"
                   class="course-label secondary radius label toggle-follow"
                   title="S'abonner au cours">
                  {{ course.slug }}
                </a>
              {% endif %}

              <a href="{% url 'course_show' course.slug %}">{{ course.name }}</a>

              {% if course in user_followed_courses %}
                <small> (abonné)</small>
              {% endif %}
            </h6>
          </li>
          {% endfor %}
        {% endwith %}
      </ul>
    </div>
  {% endif %}

  {% if category.children.all %}
    <div class="large-6 medium-12 columns">
      <ul class="small-block-grid-1">
        {% for cat in category.children.all %}
        <li class="catalog-option">
          <h6>
            <a href="{% url 'category_show' cat.id %}">
              <i class="fi-folder round-icon small"></i>
              {{ cat.name }}
            </a>
          </h6>
        </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

    <div class="medium-6 columns">
        <div class="panel callout radius">
          <h5>Tu ne trouves pas ta section ou ton cours ?</h5>
          <p>
              Il est peut-être juste manquant de notre classification.
              Mais si il était sur Respublicae, nous on l'a aussi !<br>
              Fais une recherche sur le nom ou le mnémonique de ton cours dans la barre de recherche
              et tu le trouveras surement.<br>
              <small>(Si jamais tu ne le trouves vraiment pas, envoie nous un message, on réparera ça tout de suite.)</small>
          </p>
        </div>
    </div>

</div>
{% endblock %}
