{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% load has_perm_on %}

{% block title %}{{ course.slug|upper }} {{ course.name }}{% endblock %}

{% block header %}
    <header class="container-xl py-4 border-bottom bg-light">
        <h1>
            {{ course.slug|upper }} {{ course.name }}
            {% if following %}
                <span class="text-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-folder-plus" viewBox="0 0 16 16">
                        <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                        <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
            </span>
            {% endif %}
        </h1>
        <a class="btn btn-outline-success btn-sm" href="{% url 'document_put' course.slug %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
            </svg>
            Ajouter un document
        </a>
        {% if following %}
            <a href="{% url 'catalog:leave_course' course.slug %}'">Se désabonner</a>
        {% else %}
            <a href="'{% url 'catalog:join_course' course.slug %}'">S’abonner au cours</a>
        {% endif %}
    </header>
{% endblock %}
{% block content %}
    <div data-controller="course-filter">
        <form class="d-flex mb-3 gap-2">
            <input
                    class="flex-fill rounded px-2"
                    style="border-style: solid"
                    type="text" name="cours"
                    placeholder="Chercher dans le titre du fichier..."
                    data-course-filter-target="query"
                    data-action="input->course-filter#filter"

            >
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-funnel"
                     viewBox="0 0 16 16">
                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                </svg>
            </a>
        </form>
        <div class="collapse" id="collapseExample">
            <ul class="p-0" style="display: grid; grid: repeat(2, auto) / auto-flow auto; gap: 0.5em">
                {% for tag in tags %}
                    <li class="badge d-inline-flex gap-1 border"
                        style="accent-color:{{ tag.color }}; border-color:{{ tag.color }}; color: {{ tag.color }}">
                        <input type="checkbox"
                               id="tag-{{ tag.name }}"
                               data-tag-name="{{ tag.name }}"
                               data-action="change->course-filter#filter"
                               data-course-filter-target="tag"
                        />
                        <label for="tag-{{ tag.name }}">{{ tag.name }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <ul class="p-0" style="list-style: none;">
            {% for document in documents %}
                <li
                        class="border-top p-2"
                        data-course-filter-target="filterable"
                        data-filter-key='{{ document.name }}'
                        data-tags="{{ document.tags.all|join:' ' }}"
                >
                    <a href="{% url 'document_show' document.pk %}"
                       class="d-flex align-items-center gap-2 text-reset text-decoration-none">
                        <div class="rounded border bg-light p-1">
                            <img src="{% static "images/default_page.webp" %}"
                                 width="60" height="50" style="object-fit: cover;">
                        </div>
                        <div>
                            <div>
                                <!-- {% include "catalog/like-dislike.html" %} -->
                                {{ document.name|capfirst }}
                            </div>
                            <div class="fw-light" style="font-size: .7em">
                                {{ document.user.name }} |
                                {{ document.pages }} page{{ document.pages|pluralize }} |
                                {{ document.date|date:"F Y"|capfirst }}
                                <div class="tags d-none">
                                    {% for kw in document.tags.all %}
                                        <span
                                                data-id="{{ kw.id }}"
                                                style="background-color: {{ kw.color }}; color:white;"
                                        >
                                            {{ kw }}
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            {% empty %}
                <div>
                    <h3>Il n’y a encore rien dans ce cours…</h3>
                    <p>Personne n’est encore passé ici on dirait.<br>
                        Vous pourriez poser une question ou encore uploader un document en cliquant sur les boutons
                        ci-dessus. </p>
                </div>
            {% endfor %}
        </ul>
    </div>


{% endblock %}
