{% extends "base.html" %}

{% load humanize permissions static %}

{% block title %}{{ course.slug|upper }} {{ course.name }}{% endblock %}

{% block header %}
    <header class="container-xl py-4 border-bottom bg-light">
        <h1 class="d-flex align-items-center gap-2">
            {% if course.is_archive %}
                {% include "icons/bi-archive-fill.html" with size=32 %}
            {% endif %}
            {{ course.slug|upper }} {{ course.name }}
        </h1>
        {% if course.is_archive %}
            <p>Ce cours ne fait plus partie du programme de l'ULB, il est gardé ici uniquement pour des raisons
                historiques.</p>
        {% endif %}
        <a class="btn btn-outline-success btn-sm d-inline-flex align-items-center gap-1"
           href="{% url 'document_put' course.slug %}">
            {% include "icons/bi-file-earmark-plus.html" %}
            <span>Partager un document</span>
        </a>
        {% if following %}
            <turbo-frame id="favorite">
                <form method="POST" action="{% url 'catalog:leave_course' course.slug %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit"
                            class="btn btn-outline-secondary btn-sm d-inline-flex align-items-center gap-1">
                        {% include "icons/bi-star-fill.html" with class="text-warning hover-spin" %}
                        <span>Favori</span>
                    </button>
                </form>
            </turbo-frame>
        {% else %}
            <turbo-frame id="favorite">
                <form method="POST" action="{% url 'catalog:join_course' course.slug %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit"
                            class="btn btn-outline-secondary btn-sm d-inline-flex align-items-center gap-1">
                        {% include "icons/bi-star.html" with class="hover-spin" %}
                        <span>Ajouter aux favoris</span>
                    </button>
                </form>
            </turbo-frame>
        {% endif %}
    </header>
{% endblock header %}

{% block content %}
    <div data-controller="course-filter">
        {% if documents %}
            <form class="d-flex mb-3 gap-2">
                <input
                    class="flex-fill rounded px-2"
                    style="border-style: solid"
                    type="text" name="cours"
                    placeholder="Chercher par titre de document..."
                    data-course-filter-target="query"
                    data-action="input->course-filter#filter"

                >
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    {% include "icons/bi-funnel.html" with size=20 %}
                </a>
            </form>
            <div class="collapse" id="collapseExample">
                <ul class="p-0" style="display: grid; grid: repeat(2, auto) / auto-flow auto; gap: 0.5em">
                    {% for tag in tags %}
                        <li class="badge d-inline-flex gap-1 border"
                            style="accent-color:{{ tag.color }}; border-color:{{ tag.color }}; color: {{ tag.color }}">
                            <input type="checkbox"
                                   id="tag-{{ tag.name }}"
                                   data-tag-name="{{ tag.name }}"
                                   data-action="change->course-filter#filter"
                                   data-course-filter-target="tag"
                            />
                            <label for="tag-{{ tag.name }}">{{ tag.name }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <ul class="p-0" style="list-style: none;">
            {% for document in documents %}
                <li
                    class="border-top p-2 d-flex align-items-center"
                    data-course-filter-target="filterable"
                    data-filter-key='{{ document.name }}'
                    data-tags="{{ document.tags.all|join:' ' }}"
                    {% if document.hidden %}style="opacity: 0.5;"{% endif %}
                >

                    <a href="{% url 'document_show' document.pk %}"
                       class="d-flex align-items-center gap-2 text-reset text-decoration-none flex-grow-1"
                       {% if document.hidden %}title="Ce document a été caché, il est uniquement visible pour son propriétaire et aux modérateurs"{% endif %}>
                        <div class="rounded border bg-light p-1">
                            {% if document.thumbnail %}
                                <img src="{{ document.thumbnail.url }}"
                                     width="60" height="50" style="object-fit: cover;">
                            {% else %}
                                <img src="{% static "images/default_page.webp" %}"
                                     width="60" height="50" style="object-fit: cover;">
                            {% endif %}
                        </div>
                        <div>
                            <div class="hover-underline">
                                {% if document.hidden %}
                                    {% include "icons/bi-eye-slash-fill.html" %}
                                {% endif %}
                                {{ document.name|capfirst }}
                                {% if document.staff_pick %}
                                    {% include "icons/bi-patch-check-fill.html" with class="text-primary" title="Staff pick" %}
                                {% endif %}
                            </div>
                            <div class="fw-light" style="font-size: .7em">
                                {{ document.user.name }} |
                                {{ document.pages }} page{{ document.pages|pluralize }} |
                                {{ document.date|date:"F Y"|capfirst }}
                                {% if document.import_source %}
                                    | Importé depuis {{ document.import_source }}
                                {% endif %}
                                <div class="tags d-none">
                                    {% for kw in document.tags.all %}
                                        <span
                                            data-id="{{ kw.id }}"
                                            style="background-color: {{ kw.color }}; color:white;"
                                        >
                                            {{ kw }}
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="d-flex align-items-center gap-2">
                        <div class="d-none d-sm-block">
                            {% if document.upvotes > document.downvotes %}
                                {{ document.upvotes }}
                                {% include "icons/bi-hand-thumbs-up.html" %}
                            {% elif document.upvotes < document.downvotes %}
                                {{ document.downvotes }}
                                {% include "icons/bi-hand-thumbs-down.html" %}
                            {% else %}
                                {% if document.upvotes %}
                                    {{ document.upvotes }}
                                    {% include "icons/bi-hand-thumbs-up.html" %}

                                    {{ document.downvotes }}
                                    {% include "icons/bi-hand-thumbs-down.html" %}
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if request.user|has_write_perm_on:document %}
                            <a class="btn d-none d-sm-block" title="Modifier"
                               href="{% url 'document_edit' document.pk %}"
                               data-turbo="false">
                                {% include "icons/bi-pencil.html" %}
                            </a>
                        {% endif %}
                        <a class="btn" title="Télécharger"
                           href="{% if document.pdf and document.pdf.name %}{% url 'document_pdf' document.pk %}{% else %}{% url 'document_original' document.pk %}{% endif %}"
                           data-turbo="false">
                            {% include "icons/bi-download.html" %}
                        </a>

                    </div>
                </li>
            {% empty %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">

                        Rentrée 2023-2024: Nouveaux cours !
                        <span style="font-size: .5rem;transform: translate(0, -5px);"
                              class="badge rounded-pill bg-danger">
                            NEW
                        </span>

                    </h4>
                    Le programme de cours de l'ULB a parfois beaucoup changé au cours des années.
                    DocHub s'est adapté en renommant des cours et en déplacent les documents
                    mais il se pourrait que certains documents soient mal rangés.
                    <br>
                    Si tu ne trouves plus des documents des années précédentes,
                    <a href="{% url 'catalog:finder' slugs='archives' %}">regarde dans les archives</a> !
                </div>
                <div>
                    <h3>Il n'y a encore rien dans ce cours…</h3>
                    <p>Les documents que tu trouves sur DocHub ont été partagés par des
                        étudiants comme toi et nous. N'hésite pas à partager tes notes, des questions d'examens
                        ou même juste un scan des questions du dernier TP. C'est grâce à des petits gestes comme ça que
                        DocHub est si complet !</p>

                </div>

            {% endfor %}
        </ul>
    </div>


{% endblock content %}
