{% extends "base.html" %}
{% load humanize %}

{% block title %}Notifications{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    {% if object_list %}
      <h2>
        Notifications
      </h2>
      <a href="{% url "read_all" %}" class="button radius tiny success">
        <i class="fi-check" style="color: inherit;"></i>
        Tout marquer comme lu
      </a>
        {% for notification in object_list %}
          {% include "notifications/notification.html" %}
        {% endfor %}
    {% else %}
      <h2>Notifications</h2>
          <p>
              Tu n'as pas encore de notifications...<br>
              Attends que quelqu'un ajoute un document ou une question dans un cours que tu suis et tu le verras apparaitre ici.
          </p>
    {% endif %}
  </div>
</div>
{% endblock %}
