name: Python application

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install apt packages
      run: sudo apt install -y libsass-dev graphicsmagick mupdf-tools ghostscript unoconv python3-dev
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install pre-commit
      run: pip install pre-commit

    - name: Check pre-commit
      run: pre-commit run --all-files

    - name: Install python packages
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Django checks
      run: DEBUG=1 ./manage.py check

    - name: Check migrations
      run: DEBUG=1 ./manage.py makemigrations --dry-run --check

    - name: mypy
      run: mypy

    - name: Statics checks
      run: DEBUG=1 ./manage.py collectstatic --noinput -v 0

    - name: pytest
      run: DEBUG=1 pytest -k "not unoconv"

    - name: database checks
      run: make database
