name: Python application

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Apt update
      run: sudo apt update
    - name: Install apt packages
      run: sudo apt install -y graphicsmagick mupdf-tools ghostscript unoconv python3-dev
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install pre-commit
      run: pip install pre-commit

    - name: Check pre-commit
      run: pre-commit run --all-files

    - name: Install python packages
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Django checks
      run: ./manage.py check

    - name: Check migrations
      run: ./manage.py makemigrations --dry-run --check

    - name: mypy
      run: mypy

    - name: Statics checks
      run: ./manage.py collectstatic --noinput -v 0

    - name: pytest
      run: pytest -k "not unoconv"

    - name: database checks
      run: make database
