{% extends "skel.html" %}
{% load render_bundle from webpack_loader %}

{% load humanize %}
{% load custommardown %}
{% load activity_tags %}
{% load has_perm_on %}

{% block title %}{{ course.slug|upper }}{% endblock %}

{% block header %}
{% render_bundle 'courses' %}
{% endblock %}

{% block content %}

<br>
{% include "fragments/sondage.html" %}

<div class="row">
  <div class="large-12 columns">
    <h1 >
      {{ course.slug|upper }} {{ course.name }}
      {% if request.user|is_following:course %}
        <i class="fi-check green"></i>
      {% endif %}
      {% if followers_count > 1 %}
        <small>{{followers_count}} personnes sont abonnées à ce cours.</small>
      {% endif %}
    </h1>
    <div >
        <a href="{{ course.gehol_url }}" target="_blank" class="button radius tiny secondary right">
            <i class="fi-calendar"></i>
            Horaire sur GeHol
        </a>
        <a href="{% url 'document_put' course.slug %}" class="button radius tiny success">
            <i class="fi-plus"></i>
            Uploader un fichier
        </a>
        {% if request.user|is_following:course %}
          <a href="{% url 'leave_course' course.slug %}" class="button radius info tiny">
            <i class="fi-x"></i> Se désabonner
          </a>
        {% else %}
          <a href="{% url 'join_course' course.slug %}" class="button radius info tiny">
            <i class="fi-check"></i> S’abonner au cours
          </a>
        {% endif %}

    </div>



  </div>
</div>
<div class="row">
    <div class="large-12 medium-12 columns">
      <div class="tabs-content">
        <div class="content active" id="documents" data-id="{{ course.slug }}">
            Chargement en cours...
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
  $(document).ready(function () {
    var dest = 'documents';
    var doc_id = $('#' + dest).attr('data-id');
    $.get(Urls['course-detail'](doc_id), function (data) {
      loadCourseViewer(dest, data);
    });
  })
</script>
{% endblock %}
