{% extends "skel.html" %}
{% load render_bundle from webpack_loader %}

{% load humanize %}
{% load activity_tags %}
{% load has_perm_on %}

{% block title %}{{ course.slug|upper }}{% endblock %}

{% block header %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<div style="display: grid; grid-template-columns: 1fr 65% 1fr 25% 1fr;margin-top: 1.5em;">
    <div style="grid-column-start: 2;">
        <h1 style="margin-left: 2rem;font-family: Titillium Web; font-style: normal; font-weight: normal; font-size: 32px; line-height: 49px;">
            {{ course.slug|upper }} {{ course.name }}
            {% if request.user|is_following:course %}
            <i class="fi-check green"></i>
            {% endif %}
            {% if followers_count > 1 %}
            <small>{{followers_count}} personnes sont abonnées à ce cours.</small>
            {% endif %}
        </h1>
        {% comment %} <h2 style="margin-left: 3rem;grid-row-start: 2;">Chargement en cours...</h2> {% endcomment %}

        <div class="deck">
            <div class="card">
                <div class="card-like">
                    <i class="fas fa-thumbs-up" style="grid-row-start:1"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">0</span></i>
                    <i class="fas fa-thumbs-down" style="grid-row-start:2"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">1</span></i>
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <a>Projet 2017 — Satisfactions de Contraintes et Utilisation de l’Outil Choco solve</a>
                        <span>Olivier Pirson</span>
                    </div>
                    <div class="card-comment">
                        <span>Toutes les sources sur Bitbucket : https://bitbucket.org/OPiMedia/chocochess/</span>
                    </div>
                    <div class="card-footers">
                        <span><i class="far fa-file"></i>8 pages</span>
                        <span><i class="far fa-clock"></i>31 May 2016</span>
                        <div class="tags">
                            <span style="background: #7BB109; color:white;">tp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delimiter">
            </div>
            <div class="card">
                <div class="card-like">
                    <i class="fas fa-thumbs-up" style="grid-row-start:1"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">0</span></i>
                    <i class="fas fa-thumbs-down" style="grid-row-start:2"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">1</span></i>
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <a>Projet 2017 — Satisfactions de Contraintes et Utilisation de l’Outil Choco solve</a>
                        <span>Olivier Pirson</span>
                    </div>
                    <div class="card-comment">
                        <span>Toutes les sources sur Bitbucket : https://bitbucket.org/OPiMedia/chocochess/</span>
                    </div>
                    <div class="card-footers">
                        <span><i class="far fa-file"></i>8 pages</span>
                        <span><i class="far fa-clock"></i>31 May 2016</span>
                        <div class="tags">
                            <span style="background: #7BB109; color:white;">tp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delimiter">
            </div>
            <div class="card">
                <div class="card-like">
                    <i class="fas fa-thumbs-up" style="grid-row-start:1"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">0</span></i>
                    <i class="fas fa-thumbs-down" style="grid-row-start:2"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">1</span></i>
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <a>Projet 2017 — Satisfactions de Contraintes et Utilisation de l’Outil Choco solve</a>
                        <span>Olivier Pirson</span>
                    </div>
                    <div class="card-comment">
                        <span>Toutes les sources sur Bitbucket : https://bitbucket.org/OPiMedia/chocochess/</span>
                    </div>
                    <div class="card-footers">
                        <span><i class="far fa-file"></i>8 pages</span>
                        <span><i class="far fa-clock"></i>31 May 2016</span>
                        <div class="tags">
                            <span style="background: #7BB109; color:white;">tp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delimiter">
            </div>
            <div class="card">
                <div class="card-like">
                    <i class="fas fa-thumbs-up" style="grid-row-start:1"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">0</span></i>
                    <i class="fas fa-thumbs-down" style="grid-row-start:2"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">1</span></i>
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <a>Projet 2017 — Satisfactions de Contraintes et Utilisation de l’Outil Choco solve</a>
                        <span>Olivier Pirson</span>
                    </div>
                    <div class="card-comment">
                        <span>Toutes les sources sur Bitbucket : https://bitbucket.org/OPiMedia/chocochess/</span>
                    </div>
                    <div class="card-footers">
                        <span><i class="far fa-file"></i>8 pages</span>
                        <span><i class="far fa-clock"></i>31 May 2016</span>
                        <div class="tags">
                            <span style="background: #7BB109; color:white;">tp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delimiter">
            </div>
            <div class="card">
                <div class="card-like">
                    <i class="fas fa-thumbs-up" style="grid-row-start:1"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">0</span></i>
                    <i class="fas fa-thumbs-down" style="grid-row-start:2"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">1</span></i>
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <a>Projet 2017 — Satisfactions de Contraintes et Utilisation de l’Outil Choco solve</a>
                        <span>Olivier Pirson</span>
                    </div>
                    <div class="card-comment">
                        <span>Toutes les sources sur Bitbucket : https://bitbucket.org/OPiMedia/chocochess/</span>
                    </div>
                    <div class="card-footers">
                        <span><i class="far fa-file"></i>8 pages</span>
                        <span><i class="far fa-clock"></i>31 May 2016</span>
                        <div class="tags">
                            <span style="background: #7BB109; color:white;">tp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delimiter">
            </div>
            <div class="card">
                <div class="card-like">
                    <i class="fas fa-thumbs-up" style="grid-row-start:1"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">0</span></i>
                    <i class="fas fa-thumbs-down" style="grid-row-start:2"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">1</span></i>
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <a>Projet 2017 — Satisfactions de Contraintes et Utilisation de l’Outil Choco solve</a>
                        <span>Olivier Pirson</span>
                    </div>
                    <div class="card-comment">
                        <span>Toutes les sources sur Bitbucket : https://bitbucket.org/OPiMedia/chocochess/</span>
                    </div>
                    <div class="card-footers">
                        <span><i class="far fa-file"></i>8 pages</span>
                        <span><i class="far fa-clock"></i>31 May 2016</span>
                        <div class="tags">
                            <span style="background: #7BB109; color:white;">tp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delimiter">
            </div>
            <div class="card">
                <div class="card-like">
                    <i class="fas fa-thumbs-up" style="grid-row-start:1"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">0</span></i>
                    <i class="fas fa-thumbs-down" style="grid-row-start:2"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">1</span></i>
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <a>Projet 2017 — Satisfactions de Contraintes et Utilisation de l’Outil Choco solve</a>
                        <span>Olivier Pirson</span>
                    </div>
                    <div class="card-comment">
                        <span>Toutes les sources sur Bitbucket : https://bitbucket.org/OPiMedia/chocochess/</span>
                    </div>
                    <div class="card-footers">
                        <span><i class="far fa-file"></i>8 pages</span>
                        <span><i class="far fa-clock"></i>31 May 2016</span>
                        <div class="tags">
                            <span style="background: #7BB109; color:white;">tp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delimiter">
            </div>
            <div class="card">
                <div class="card-like">
                    <i class="fas fa-thumbs-up" style="grid-row-start:1"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">0</span></i>
                    <i class="fas fa-thumbs-down" style="grid-row-start:2"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">1</span></i>
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <a>Projet 2017 — Satisfactions de Contraintes et Utilisation de l’Outil Choco solve</a>
                        <span>Olivier Pirson</span>
                    </div>
                    <div class="card-comment">
                        <span>Toutes les sources sur Bitbucket : https://bitbucket.org/OPiMedia/chocochess/</span>
                    </div>
                    <div class="card-footers">
                        <span><i class="far fa-file"></i>8 pages</span>
                        <span><i class="far fa-clock"></i>31 May 2016</span>
                        <div class="tags">
                            <span style="background: #7BB109; color:white;">tp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delimiter">
            </div>
            <div class="card">
                <div class="card-like">
                    <i class="fas fa-thumbs-up" style="grid-row-start:1"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">0</span></i>
                    <i class="fas fa-thumbs-down" style="grid-row-start:2"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">1</span></i>
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <a>Projet 2017 — Satisfactions de Contraintes et Utilisation de l’Outil Choco solve</a>
                        <span>Olivier Pirson</span>
                    </div>
                    <div class="card-comment">
                        <span>Toutes les sources sur Bitbucket : https://bitbucket.org/OPiMedia/chocochess/</span>
                    </div>
                    <div class="card-footers">
                        <span><i class="far fa-file"></i>8 pages</span>
                        <span><i class="far fa-clock"></i>31 May 2016</span>
                        <div class="tags">
                            <span style="background: #7BB109; color:white;">tp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delimiter">
            </div>
            <div class="card">
                <div class="card-like">
                    <i class="fas fa-thumbs-up" style="grid-row-start:1"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">0</span></i>
                    <i class="fas fa-thumbs-down" style="grid-row-start:2"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">1</span></i>
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <a>Projet 2017 — Satisfactions de Contraintes et Utilisation de l’Outil Choco solve</a>
                        <span>Olivier Pirson</span>
                    </div>
                    <div class="card-comment">
                        <span>Toutes les sources sur Bitbucket : https://bitbucket.org/OPiMedia/chocochess/</span>
                    </div>
                    <div class="card-footers">
                        <span><i class="far fa-file"></i>8 pages</span>
                        <span><i class="far fa-clock"></i>31 May 2016</span>
                        <div class="tags">
                            <span style="background: #7BB109; color:white;">tp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delimiter">
            </div>
            <div class="card">
                <div class="card-like">
                    <i class="fas fa-thumbs-up" style="grid-row-start:1"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">0</span></i>
                    <i class="fas fa-thumbs-down" style="grid-row-start:2"><span style="font-family: Titillium Web;font-weight: normal;margin-left:0.25em">1</span></i>
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <a>Projet 2017 — Satisfactions de Contraintes et Utilisation de l’Outil Choco solve</a>
                        <span>Olivier Pirson</span>
                    </div>
                    <div class="card-comment">
                        <span>Toutes les sources sur Bitbucket : https://bitbucket.org/OPiMedia/chocochess/</span>
                    </div>
                    <div class="card-footers">
                        <span><i class="far fa-file"></i>8 pages</span>
                        <span><i class="far fa-clock"></i>31 May 2016</span>
                        <div class="tags">
                            <span style="background: #7BB109; color:white;">tp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delimiter">
            </div>
        </div>
    </div>

    <div class="aside">
        <div style="grid-row-start:1;text-align: center">
            <a href="{% url 'document_put' course.slug %}" class="button green">
                <i class="fas fa-plus"></i>
                Uploader un fichier
            </a>
            {% if request.user|is_following:course %}
            <a href="{% url 'leave_course' course.slug %}" class="button radius info tiny">
                <i class="fas fa-x"></i> Se désabonner
            </a>
            {% else %}
            <a href="{% url 'join_course' course.slug %}" class="button blue">
                <i class="fas fa-check"></i> S’abonner au cours
            </a>
            {% endif %}
        </div>
        <div style="grid-row-start:2">
            <div style="border: 2px solid black;border-radius: 0.5rem;justify-content: center;align-content: center;">
                <i class="fas fa-search" style="margin: 0.5rem;"></i>
                <input type="text" name="cours" placeholder="Chercher avec le titre du fichier" style="border: none;text-align: center;outline: none;width:80%">
            </div>
        </div>
        <div style="grid-row-start:3">
            <h1 style="font-weight: normal;">Filtres:</h1>
            <div style="margin:auto;padding-left: 1em;padding-right: 1em;text-align:center">
                <div class="ck-button">
                    <input type="checkbox" value="1" id="1">
                    <label for="1" style="background-color:#7BB109;"><span>green</span></label>
                </div>
                <div class="ck-button">
                    <input type="checkbox" value="1" id="2">
                    <label for="2" style="background-color:#B10927;"><span>red</span></label>
                </div>
                <div class="ck-button">
                    <input type="checkbox" value="1" id="3">
                    <label for="3" style="background-color:#EB84C8;"><span>pink</span></label>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        var dest = 'documents';
        var doc_id = $('#' + dest).attr('data-id');
        $.get(Urls['course-detail'](doc_id), function (data) {
            loadCourseViewer(dest, data);
        });
    })
</script>
{% endblock %}
