{% extends "skel.html" %}

{% block title %}Liste des cours{% endblock %}

{% block content %}
<div class="row">
  <div class="{% if request.user.following_courses|length == 0 %}large-12{% else %}large-8{% endif %} medium-12 columns">
    <h1>Vos cours</h1>
    {% if request.user.following_courses|length == 0 %}
      <p>On dirait que vous n'êtes abonné à aucun cours pour le moment.<br>
      Vous pourriez parcourir ci-dessous le catalogue de DocHub et
      <span data-tooltip aria-haspopup="true" class="has-tip" title="En vous abonnant à un cours, vous recevrez une notification quand quelqu'un ajoute un document ou pose une question">vous abonner</span>
      les cours qui vous intéressent.</p>
      <div class="alert-box radius secondary medium-8">
        <i class="fi-info"></i> En vous abonnant un cours, vous recevrez une notification quand quelqu'un ajoute un document ou pose une question
      </div>
    {% else %}
      <ul class="course-list">
        {% for course in request.user.following_courses %}
          <li>
            <h6>
              <a href="{% url 'course_show' course.slug %}">
                  <span class="course-label radius success label">
                    {{ course.slug }}
                  </span>
                  {{ course.name }}
              </a>
            </h6>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="{% if request.user.following_courses|length == 0 %}large-12{% else %}large-4{% endif %} medium-12 columns">
    <h3>Catalogue</h3>
    <ul class="small-block-grid-1">
    {% for fac in faculties %}
        <li class="catalog-option">
          <h4>
            <a href="{% url 'category_show' fac.id %}">
              <i class="fi-annotate round-icon small"></i>
              {{ fac.name }}
            </a>
          </h4>
        </li>
      {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
